{% extends "wagtailadmin/login.html" %}
{% load i18n wagtailadmin_tags %}

{% block branding_login %}
    Attention
{% endblock branding_login %}

{% block login_form %}
    <p class="restricted-access">{% translate "Restricted access" %}</p>
    {{ block.super }}
{% endblock login_form %}

{% block branding_logo %}
    <marquee aria-hidden="true">
        This place is a <em>message</em>... and part of a system of messages... <em>pay attention to it!</em>
        Sending this message was important to us. We considered ourselves to be a <em>powerful culture</em>.
        This place is <em>not a place of honor</em>... no highly esteemed deed is commemorated here... <em>nothing valued is here.</em>
        What is here was <em>dangerous</em> and <em>repulsive</em> to us. This message is a <em>warning</em> about <em>danger</em>.
        The danger is in a particular location... it increases towards a center... the center of danger is here... of a particular size and shape, and below us.
        The danger is <em>still present</em>, in your time, as it was in ours.
        The danger is to the body, and <em>it can kill</em>.
        The form of the danger is an <em>emanation of energy</em>.
        The danger is unleashed only if you substantially disturb this place physically. <em>This place is best shunned and left uninhabited.</em>
    </marquee>
{% endblock branding_logo %}

{% block css %}
    <link rel="stylesheet"
          href="{% versioned_static 'wagtailadmin/css/core.css' %}">
    <link rel="stylesheet" href="{% versioned_static 'css/style_login.css' %}">
    {% hook_output 'insert_global_admin_css' %}
    {% hook_output 'insert_editor_css' %}

{% endblock css %}
