{% extends "portfolio/_portfolio_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags sri %}
{% block body_class %}
  template-porfolio-entrypage
{% endblock body_class %}

{% block social_media %}
  <meta property="og:site_name" content="{{ request.get_host }}" />
  <meta property="og:title"
        content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.full_url }}" />
  <meta property="og:description" content="{{ self.search_description }}" />
  <meta property="og:locale" content="fr" />

  <meta name="twitter:site" content="@ash_crow" />
  <meta name="twitter:title"
        content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
  <meta name="twitter:description" content="{{ page.search_description }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {% if page.images_count > 0 %}
    {% image page.gallery_images.first.image fill-1200x627 as header_image %}
    <meta property="og:image" content="{{ header_image.full_url }}" />
    <meta name="twitter:image" content="{{ header_image.full_url }}" />
  {% endif %}
{% endblock social_media %}

{% block content %}
  <article class="container mt-5">
    <h1 class="title">
      {{ page.title }}
    </h1>
    <p>
      {{ page.date_range }}
    </p>

    {% if page.images_count > 0 %}
      {% include "portfolio/blocks/carousel_image.html" with image=page.gallery_images.first images_count=page.images_count slug=page.slug %}
    {% endif %}

    {% for block in page.body %}
      {% if block.block_type == "liens" %}
        <div class="columns">
          {% for box in block.value %}
            <div class="column">
              {% include_block box %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="content">
          {% include_block block %}
        </div>
      {% endif %}
    {% endfor %}

    {% if page.entry_url or page.entry_repo %}
      <div class="content">
        <h2>
          Voir en ligne
        </h2>
        <ul>
          {% if page.entry_url %}
            <li>
              <a href="{{ page.entry_url }}" target="_blank" rel="noopener noreferrer">Le site</a>
            </li>
          {% endif %}
          {% if page.entry_repo %}
            <li>
              <a href="{{ page.entry_repo }}"
                 target="_blank"
                 rel="noopener noreferrer">Le code source</a>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endif %}

    {% if page.tags %}
      <div id="project-tags" class="content">
        <h2>
          Tags
        </h2>
        <div class="field is-grouped is-grouped-multiline mb-6">
          <div class="tags">
            {% for tag in page.tags.all|dictsort:"slug" %}
              <a class="tag is-medium"
                 href="{% routablepageurl page.get_parent.specific 'projects_list' tag.slug %}">{{ tag.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </article>

  {% translate "More projects" as post_pagination_label %}
  {% include "blocks/pagination_post.html" with label=post_pagination_label %}

{% endblock content %}
