{% extends "portfolio/_portfolio_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags sri %}
{% block body_class %}
  template-porfolio-mainpage
{% endblock body_class %}

{% block content %}
  <div class="container mt-6 content">
    {% for block in page.body %}
      {% if block.block_type == "services" %}
        <div class="columns is-multiline">
          {% for box in block.value %}
            <div class="column is-half">{% include_block box %}</div>
          {% endfor %}
        </div>
      {% else %}
        <div class="content">{% include_block block %}</div>
      {% endif %}
    {% endfor %}
  </div>

  {% include "portfolio/blocks/entries_list.html" with page_slug=page.slug entries=page.get_entries tags=page.get_entries_tags %}

  <div class="container mt-6 content">
    {% for block in page.bottom %}
      {% if block.block_type == "services" %}
        <div class="columns is-multiline">
          {% for box in block.value %}
            <div class="column is-half">{% include_block box %}</div>
          {% endfor %}
        </div>
      {% elif block.block_type == "liens" %}
        <div class="columns ash-equalheight">
          {% for box in block.value %}
            <div class="column">{% include_block box %}</div>
          {% endfor %}
        </div>
      {% else %}
        <div class="content">{% include_block block %}</div>
      {% endif %}
    {% endfor %}
  </div>

{% endblock content %}
