{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags sri %}
{% block body_class %}
  template-tools-index
{% endblock body_class %}

{% block extra_css %}
{% endblock extra_css %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
{% endblock title_suffix %}

{% block header %}
  {% include "tools/blocks/header.html" %}
{% endblock header %}

{% block content %}
  <div class="container mt-5">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="{% pageurl site_navigation.root_page %}">{% translate "Tools" %}</a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page">{% translate "IP" %}</a>
        </li>
      </ul>
    </nav>
  </div>

  {% include "blocks/page_title.html" %}
  <div class="container">
    <div class="content">
      <table id="ip-info" class="table is-striped">
        <caption>{% translate "IP info" %}</caption>
        <tbody>
          <tr>
            <th>
              {% translate "Query IP" %}
            </th>
            <td>
              {{ ip }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}

{% block extra_footer %}
  {% include "blocks/simple_footer.html" %}
{% endblock extra_footer %}

{% block extra_js %}
  {% sri_static "tools/js/ip.js" %}
{% endblock extra_js %}

{% block search_bar %}
{% endblock search_bar %}
