{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags sri %}
{% block body_class %}
  template-tools-index
{% endblock body_class %}

{% block extra_css %}
{% endblock extra_css %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
{% endblock title_suffix %}

{% block header %}
  {% include "tools/blocks/header.html" %}
{% endblock header %}

{% block content %}
  <div class="container mt-5">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="{% pageurl site_navigation.root_page %}">{% translate "Tools" %}</a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page">Coordinates precision</a>
        </li>
      </ul>
    </nav>
  </div>

  {% include "blocks/page_title.html" %}
  <div class="container">
    <div class="content mt-6">
      <h2>
        Coordinates precision
      </h2>
    </div>
    <form id="lonlat">
      <div class="field">
        <label class="label" for="latitude">
          Latitude
        </label>
        <div class="control">
          <input id="latitude"
                 type="number"
                 class="input"
                 type="text"
                 placeholder="latitude">
          <p id="latitude-hint" class="help">
            Number of decimal places: 0
          </p>
        </div>
      </div>

      <div class="field">
        <label class="label" for="longitude">
          Longitude
        </label>
        <div class="control">
          <input id="longitude"
                 type="number"
                 class="input"
                 type="text"
                 placeholder="longitude">
          <p id="longitude-hint" class="help">
            Number of decimal places: 0
          </p>
        </div>
      </div>
    </form>

    <div id="xkcd-comment" class="mt-6">
    </div>
  </div>
{% endblock content %}

{% block extra_footer %}
  {% include "blocks/simple_footer.html" %}
{% endblock extra_footer %}

{% block extra_js %}
  {% sri_static "tools/js/lonlat.js" %}
{% endblock extra_js %}

{% block search_bar %}
{% endblock search_bar %}
