{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags sri %}
{% block body_class %}
  template-tools-index
{% endblock body_class %}

{% block extra_css %}
  <style>
    p {
      overflow-wrap: break-word;
    }
  </style>
{% endblock extra_css %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
{% endblock title_suffix %}

{% block header %}
  {% include "tools/blocks/header.html" %}
{% endblock header %}

{% block content %}
  <div class="container mt-5">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="{% pageurl site_navigation.root_page %}">{% translate "Tools" %}</a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page">{{ page.title }}</a>
        </li>
      </ul>
    </nav>
  </div>

  {% include "blocks/page_title.html" %}
  <div class="container">
    <div class="content">
      <h2>
        {% translate "Dynamic generation" %}
      </h2>
      <div class="container is-max-desktop">

        <form>
          <div class="field">
            <label for="length" class="label">
              {% translate "Length (8-256)" %}
            </label>
            <div class="control">
              <input class="input"
                     id="length"
                     name="length"
                     type="number"
                     min="8"
                     max="256"
                     value="{{ request.GET.length|default:'16' }}">
            </div>
          </div>

          <fieldset>
            <legend class="label">
              {% translate "Allowed characters sets" %}
            </legend>
            <div>
              <input type="checkbox"
                     id="use_capitals"
                     name="use_capitals"
                     {% if request.GET|length == 0 or request.GET.use_capitals %}checked{% endif %} />
              <label class="checkbox" for="use_capitals">
                {% translate "Capital letters (A-Z)" %}
              </label>
            </div>
            <div>
              <input type="checkbox"
                     id="use_lowercase"
                     name="use_lowercase"
                     {% if request.GET|length == 0 or request.GET.use_lowercase %}checked{% endif %} />
              <label class="checkbox" for="use_lowercase">
                {% translate "Lowercase letters (a-z)" %}
              </label>
            </div>
            <div>
              <input type="checkbox"
                     id="use_numbers"
                     name="use_numbers"
                     {% if request.GET|length == 0 or request.GET.use_numbers %}checked{% endif %} />
              <label class="checkbox" for="use_numbers">
                {% translate "Numbers (0-9)" %}
              </label>
            </div>
            <div>
              <input type="checkbox"
                     id="use_special"
                     name="use_special"
                     {% if request.GET|length == 0 or request.GET.use_special %}checked{% endif %} />
              <label class="checkbox" for="use_special">
                {% translate "Special characters" %}
              </label>
            </div>
          </fieldset>

          <div class="control mt-2">
            <button id="form-submit" class="button is-primary">
              {% translate "Create secret" %}
            </button>
          </div>
        </form>
        <div class="columns is-mobile is-centered is-hidden" id="result-wrapper">
          <div class="column is-half">
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="text" id="result">
              </div>
              <div class="control">
                <button id="copyButton" class="button is-primary">
                  {% translate "Copy" %}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2>
        {% translate "Back-end generated" %}
      </h2>
      <h3>
        30
      </h3>
      <p>
        {{ secret_30 }}
      </p>
      <h3>
        50
      </h3>
      <p>
        {{ secret_50 }}
      </p>
      <h3>
        100
      </h3>
      <p>
        {{ secret_100 }}
      </p>
    </div>
  </div>
{% endblock content %}

{% block extra_footer %}
  {% include "blocks/simple_footer.html" %}
{% endblock extra_footer %}

{% block extra_js %}
  {% sri_static "tools/js/secret.js" %}
{% endblock extra_js %}

{% block search_bar %}
{% endblock search_bar %}
