{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags sri %}
{% block body_class %}
  template-tools-index
{% endblock body_class %}

{% block extra_css %}
{% endblock extra_css %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
{% endblock title_suffix %}

{% block header %}
  {% include "tools/blocks/header.html" %}
{% endblock header %}

{% block content %}
  {% include "blocks/page_title.html" %}

  <div class="container mt-6">
    <div class="content">
      {% for block in page.body %}
        {% include_block block %}
      {% endfor %}
      <h2>
        {% translate "Direct link to the tools" %}
      </h2>
      <ul>
        <li>
          <a href="{% url 'tools:ip_view' %}">IP</a>
        </li>
        <li>
          <a href="{% url 'tools:lonlat_view' %}">{% translate "Coordinates precision" %}</a>
        </li>
        <li>
          <a href="{% url 'tools:secret_view' %}">{% translate "Generate secret" %}</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}

{% block extra_footer %}
  {% include "blocks/simple_footer.html" %}
{% endblock extra_footer %}
