{% extends "_base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}
  {% if self.header_image %}
    {% image self.header_image width-1200 as header_image %}
    <div class="hero is-medium is-dark has-background ash-hero-background-image"
         style="background-image: url({{ header_image.url }});
                {{ header_image.background_position_style }}">
      <div class="hero-body">
      </div>
    </div>
  {% endif %}

  <article class="container mt-4">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="{% pageurl page %}">{% translate "Home" %}</a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page">{{ self.title }}</a>
        </li>
      </ul>
    </nav>

    <h1 class="title has-text-centered">
      {{ self.title }}
    </h1>

    <div class="mt-2 mb-5">
      <div class="meta date has-text-centered">
        {% if self.get_translations.live %}
          <span class="icon-text">
            <span class="icon">
              <i class="ri-translate ri-lg" aria-hidden="true"></i>
            </span>
          </span>
          <span>
            {% for translation in self.get_translations.live %}
              {% get_language_info for translation.locale.language_code as lang %}
              <a href="{% pageurl translation %}"
                 rel="alternate"
                 hreflang="{{ language_code }}">{{ lang.name_local | title }}</a>
            {% endfor %}
          </span>
        {% endif %}
      </div>
    </div>

    {# Wagtail Streamfield block loop #}
    {% for block in self.body %}
      {% if block.block_type == "liens" %}
        <div class="columns ash-equalheight">
          {% for box in block.value %}
            <div class="column">
              {% include_block box %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="content">
          {% include_block block %}
        </div>
      {% endif %}
    {% endfor %}

    {% if self.header_image %}
      <div class="header_image_info">
        {% include "blog/blocks/header_image_info.html" with blog=self %}
      </div>
    {% endif %}
  </article>
{% endblock content %}

{% block extra_footer %}
  {% include "blocks/simple_footer.html" with blog=self %}
{% endblock extra_footer %}
