{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}
{% block body_class %}
  template-homepage
{% endblock body_class %}

{% block extra_css %}
  <style>
.content h2 {
  margin-top: 2rem;
}
  </style>
{% endblock extra_css %}

{% block content %}
  {% if page.header_image %}
    {% image page.header_image width-1200 as header_image %}
    <div class="hero is-medium is-dark has-background ash-hero-background-image"
         style="background-image: url({{ header_image.url }});
                {{ header_image.background_position_style }}">
      <div class="hero-body">
      </div>
    </div>
  {% endif %}

  <section id="ash-hero-card" class="columns is-centered">
    <div class="card column  is-two-thirds-tablet is-half-desktop is-one-third-fullhd">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img src="{% static 'img/avatar.svg' %}" width="96" height="96" alt="">
            </figure>
          </div>
          <div class="media-content">
            {% if page.bio_title %}
              <h1 class="title is-3">
                {{ page.bio_title }}
              </h1>
            {% endif %}
            {% if page.bio_description %}
              <p class="is-6">
                {{ page.bio_description }}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <p class="card-footer-item">
          <a href="{{ page.localized_blog.url }}">{% translate "See the blog" %}</a>
        </p>
        <p class="card-footer-item">
          <a href="{{ page.localized_about_me.url }}">{% translate "About me" %}</a>
        </p>
      </div>

    </div>
  </section>

  {% if page.localized_last_blog_posts %}
    <section id="latest-posts" class="container">
      <div class="content has-text-centered">
        <h2>
          {% translate "Latest blog posts" %}
        </h2>
      </div>
      <div class="columns is-centered ash-equalheight">
        {% for post in page.localized_last_blog_posts %}
          <div class="column">
            {% include "blog/blocks/card_blog_post.html" with post=post index=forloop.counter %}
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

  <div class="container">
    {% for block in page.body %}
      {% if block.block_type == "liens" %}
        <div class="columns ash-equalheight">
          {% for box in block.value %}
            <div class="column">
              {% include_block box %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <section class="content has-text-centered">
          {% include_block block %}
        </section>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}

{% block extra_footer %}
  {% include "blocks/simple_footer.html" %}
{% endblock extra_footer %}
