{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags sri %}
{% block body_class %}
  template-albums-page
{% endblock body_class %}

{% block title %}
  {% translate "Sitemap" %}
{% endblock title %}

{% block content %}
  <section class="container mt-4">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="{% pageurl page %}">{% translate "Home" %}</a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page">{% translate "Sitemap" %}</a>
        </li>
      </ul>
    </nav>

    <div class="content">
      <h1 class="title has-text-centered">
        {% translate "Sitemap" %}
      </h1>
      <div class="mt-2 mb-5">
        <div class="content has-text-centered">
          {% if page.get_translations.live %}
            <span class="icon-text">
              <span class="icon">
                <i class="ri-translate ri-lg" aria-hidden="true"></i>
              </span>
              <span>
                {% for translation in page.get_translations.live %}
                  {% get_language_info for translation.locale.language_code as lang %}
                  <a href="{% routablepageurl translation 'sitemap' %}"
                     rel="alternate"
                     hreflang="{{ translation.locale.language_code }}">{{ lang.name_local | title }}</a>
                {% endfor %}
              </span>
            </span>
          {% endif %}
        </div>
      </div>

      <h2>
        {% translate "Main site" %}
      </h2>
      <ul>
        <li>
          <a href="{% pageurl page %}">{{ page.title }}</a>
          <ul>
            {% for subpage in page.get_children.live %}
              <li>
                <a href="{% pageurl subpage %}">{{ subpage.title }}</a>
              </li>
            {% endfor %}
            <li>
              <a href="{% routablepageurl page 'slashes' %}">/slashes</a>
            </li>
          </ul>
        </li>
      </ul>
      <h2>
        {% translate "Blog" %}
      </h2>
      <ul>
        <li>
          <a href="{% pageurl site_navigation.blog.index %}">{% translate "Homepage" %}</a>
        </li>
        <li>
          <a href="{% routablepageurl site_navigation.blog.index 'archives_list' %}">{% translate "Archives" %}</a>
        </li>
        <li>
          <a href="{% routablepageurl site_navigation.blog.index 'categories_list' %}">{% translate "Categories" %}</a>
        </li>
        <li>
          <a href="{% routablepageurl site_navigation.blog.index 'tags_list' %}">{% translate "Tags" %}</a>
        </li>
      </ul>
      <h2>
        {% translate "Gallery" %}
      </h2>
      <ul>
        <li>
          <a href="{% pageurl site_navigation.gallery.index %}">{% translate "Index" %}</a>
        </li>
        <li>
          <a href="{% routablepageurl site_navigation.gallery.index 'archives_list' %}">{% translate "Archives" %}</a>
        </li>
        <li>
          <a href="{% routablepageurl site_navigation.gallery.index 'albums_list' %}">{% translate "Albums" %}</a>
        </li>
        <li>
          <a href="{% routablepageurl site_navigation.gallery.index 'tags_list' %}">{% translate "Tags" %}</a>
        </li>
      </ul>
      <h2>
        {% translate "Tools" %}
      </h2>
      <ul>
        <li>
          <a href="{% pageurl site_navigation.tools.index %}">{% translate "Index" %}</a>
          <ul>
            {% for subpage in site_navigation.tools.index.get_children.live %}
              <li>
                <a href="{% pageurl subpage %}">{{ subpage.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </section>
{% endblock content %}

{% block extra_footer %}
  {% include "blog/blocks/blog_footer.html" %}
{% endblock extra_footer %}
