{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags sri %}
{% block body_class %}
  template-albums-page
{% endblock body_class %}

{% block title %}
  {% translate "Slashes" %}
{% endblock title %}

{% block content %}
  <section class="container mt-4">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="{% pageurl page %}">{% translate "Home" %}</a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page">{% translate "Slashes" %}</a>
        </li>
      </ul>
    </nav>

    <div class="content">
      <h1 class="title has-text-centered">
        {% translate "Slashes" %}
      </h1>
      <div class="mt-2 mb-5">
        <div class="content has-text-centered">
          {% if page.get_translations.live %}
            <span class="icon-text">
              <span class="icon">
                <i class="ri-translate ri-lg" aria-hidden="true"></i>
              </span>
              <span>
                {% for translation in page.get_translations.live %}
                  {% get_language_info for translation.locale.language_code as lang %}
                  <a href="{% routablepageurl translation 'slashes' %}"
                     rel="alternate"
                     hreflang="{{ translation.locale.language_code }}">{{ lang.name_local | title }}</a>
                {% endfor %}
              </span>
            </span>
          {% endif %}
        </div>
      </div>

      <p>
        This is a list of all my <a href="https://slashpages.net/"
    target="_blank"
    rel="noopener noreferrer">/slash</a> pages.
      </p>

      <p>
        That said, the standard <a href="https://indieweb.org/"
    target="_blank"
    rel="noopener noreferrer">IndieWeb</a> slash page names are here mostly redirects to internationalized, more readable URLs.
      </p>

      <h2>
        {% translate "List" %}
      </h2>
      <ul>
        <li>
          <span class="icon-text">
            <span class="icon">
              <i class="ri-user-3-fill"></i>
            </span>
            <span>
              <strong>
                <a href="{% routablepageurl page 'about' %}">/about</a>
              </strong>
            </span>
          </span>
        </li>
        <li>
          <span class="icon-text">
            <span class="icon">
              <i class="ri-pages-fill"></i>
            </span>
            <span>
              <strong>
                <a href="{% routablepageurl page 'coffee' %}">/coffee</a>
              </strong>
            </span>
          </span>
        </li>
        <li>
          <span class="icon-text">
            <span class="icon">
              <i class="ri-pages-fill"></i>
            </span>
            <span>
              <strong>
                <a href="{% routablepageurl page 'colophon' %}">/colophon</a>
              </strong>
            </span>
          </span>
        </li>
        <li>
          <span class="icon-text">
            <span class="icon">
              <i class="ri-treasure-map-fill"></i>
            </span>
            <span>
              <strong>
                <a href="{% routablepageurl page 'sitemap' %}">/sitemap</a>
              </strong>
            </span>
          </span>
        </li>
        <li>
          <span class="icon-text">
            <span class="icon">
              <i class="ri-treasure-map-fill"></i>
            </span>
            <span>
              <strong>
                <a href="{% routablepageurl page 'uses' %}">/uses</a>
              </strong>
            </span>
          </span>
        </li>
        <li>
          <span class="icon-text">
            <span class="icon">
              <i class="ri-treasure-map-fill"></i>
            </span>
            <span>
              <strong><a href="{% routablepageurl page 'verify' %}">/verify</a></strong>
            </span>
          </span>
        </li>
      </ul>
    </div>
  </section>
{% endblock content %}

{% block extra_footer %}
  {% include "blog/blocks/blog_footer.html" %}
{% endblock extra_footer %}
