{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags sri %}
{% block body_class %}
  template-albums-page
{% endblock body_class %}

{% block title %}
  Albums
{% endblock title %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
{% endblock title_suffix %}

{% block header %}
  {% include "gallery/blocks/header.html" %}
{% endblock header %}

{% block content %}
  <section class="container mt-6">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="{% pageurl site_navigation.gallery.index %}">{% translate "Gallery" %}</a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page">{% translate "Albums" %}</a>
        </li>
      </ul>
    </nav>

    <div class="content">
      <h2>
        {% translate "Albums" %}
      </h2>
    </div>

    {% include "gallery/blocks/albums_list.html" with albums=albums %}
  </section>
{% endblock content %}

{% block extra_footer %}
  {% include "gallery/blocks/gallery_footer.html" %}
{% endblock extra_footer %}
