{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags sri %}
{% block body_class %}
  template-gallery-index
{% endblock body_class %}

{% block extra_css %}
  <style>
    .content h2 {
      margin-top: 2rem;
    }
  </style>
{% endblock extra_css %}

{% block title %}
  {% if album %}
    {% translate "Album:" %} {{ album }} —
  {% elif tag %}
    {% translate "Tag:" %} {{ tag }} —
  {% elif author %}
    {% translate "Author:" %} {{ author }} —
  {% elif year %}
    {% translate "Archives for year" %} {{ year }} —
  {% endif %}
  {% if page.seo_title %}
    {{ page.seo_title }}
  {% else %}
    {{ page.title }}
  {% endif %}
{% endblock title %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
  {% if paginator.num_pages > 1 %}
    — Page {{ images.number }}/{{ paginator.num_pages }}
  {% endif %}
{% endblock title_suffix %}

{% block social_media %}
  <meta property="og:site_name" content="{{ request.get_host }}" />
  <meta property="og:title"
        content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.full_url }}" />
  <meta property="og:description" content="{{ self.search_description }}" />
  <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
  <link rel="alternate"
        type="application/atom+xml"
        title="Atom"
        href="{% routablepageurl page 'atom_feed' %}">
  <link rel="alternate"
        type="application/rss+xml"
        title="RSS"
        href="{% routablepageurl page 'rss_feed' %}">

  {% if self.get_translations.live %}
    {% for translation in self.get_translations.live %}
      <meta property="og:locale:alternate"
            content="{{ translation.locale.language_code }}" />
    {% endfor %}
  {% endif %}

  <meta name="twitter:site" content="@ash_crow" />
  <meta name="twitter:title"
        content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta name="twitter:description" content="{{ self.search_description }}" />
  <meta name="twitter:card" content="summary_large_image" />

  {% if self.header_image %}
    {% image self.header_image fill-1200x627 as header_image %}
    <meta property="og:image" content="{{ header_image.full_url }}" />
    <meta name="twitter:image" content="{{ header_image.full_url }}" />
  {% endif %}
{% endblock social_media %}

{% block header %}
  {% include "gallery/blocks/header.html" %}
{% endblock header %}

{% block content %}
  {% if album %}
    {% if album.header_image %}
      {% image album.header_image width-1200 as header_image %}
      <div class="hero is-medium is-dark has-background ash-hero-background-image"
           style="background-image: url({{ header_image.url }});
                  {{ header_image.background_position_style }}">
        <div class="hero-body">
        </div>
      </div>
    {% endif %}

    <section id="ash-hero-card" class="columns is-centered">
      <div class="card column  is-two-thirds-tablet is-half-desktop is-one-third-fullhd">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                {% image album.icon fill-96x96 alt="" class="is-rounded" loading="lazy" %}
              </figure>
            </div>
            <div class="media-content">
              <h1 class="title is-3">
                {{ paginator.count }} {% blocktranslate %}images in album {{ album }}{% endblocktranslate %}
              </h1>
              {% if album.description %}
                <p class="is-6">
                  {{ album.description }}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="{% pageurl site_navigation.gallery.index %}">{% translate "Gallery" %}</a>
          </li>
          <li>
            <a href="{% routablepageurl page 'albums_list' %}">{% translate "Albums" %}</a>
          </li>
          <li class="is-active">
            <a href="#" aria-current="page">{{ album }}</a>
          </li>
        </ul>
      </nav>

      <div class="level mt-4">
        <div class="level-left">
          <div class="level-item">
            <p>
              {% translate "Feeds for this album:" %}
            </p>
          </div>
          <div class="level-item">
            <a href="{% routablepageurl page 'atom_feed' %}?album={{ album.slug }}">
              <span class="icon-text">
                <span class="icon">
                  <i class="ri-rss-fill" aria-hidden="true"></i>
                </span>
                <span>Atom</span>
              </span>
            </a>
          </div>
          <div class="level-item">
            <a href="{% routablepageurl page 'rss_feed' %}?album={{ album.slug }}">
              <span class="icon-text">
                <span class="icon">
                  <i class="ri-rss-fill" aria-hidden="true"></i>
                </span>
                <span>RSS</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% elif tag %}
    <div class="hero is-dark is-bold">
      <div class="hero-body container">
        <h1 class="title">
          {{ paginator.count }} {% blocktranslate %}images tagged with #{{ tag }}{% endblocktranslate %}
        </h1>
      </div>
    </div>

    <div class="container mt-6">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="{% pageurl site_navigation.gallery.index %}">{% translate "Gallery" %}</a>
          </li>
          <li>
            <a href="{% routablepageurl page 'tags_list' %}">{% translate "Tags" %}</a>
          </li>
          <li class="is-active">
            <a href="#" aria-current="page">{{ tag }}</a>
          </li>
        </ul>
      </nav>
    </div>
  {% elif author %}
    <div class="hero is-dark is-bold">
      <div class="hero-body container">
        <h1 class="title">
          {{ paginator.count }} {% blocktranslate %}images created by {{ author }}{% endblocktranslate %}
        </h1>
      </div>
    </div>
    <div class="container">
      <nav class="breadcrumb mt-4" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="{% pageurl page %}">{% translate "Gallery" %}</a>
          </li>
          <li class="is-active">
            <a href="#" aria-current="page">{% blocktranslate %}Images created by {{ author }}{% endblocktranslate %}</a>
          </li>
        </ul>
      </nav>
    </div>
  {% elif year %}
    <div class="hero is-dark is-bold">
      <div class="hero-body container">
        <h1 class="title">
          {{ paginator.count }} {% blocktranslate %}images published in {{ year }}{% endblocktranslate %}
        </h1>
      </div>
    </div>
    <div class="container">
      <nav class="breadcrumb mt-4" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="{% pageurl page %}">{% translate "Gallery" %}</a>
          </li>
          <li>
            <a href="{% routablepageurl page 'archives_list' %}">{% translate "Archives" %}</a>
          </li>
          <li class="is-active">
            <a href="#" aria-current="page">{% blocktranslate %}Images published in {{ year }}{% endblocktranslate %}</a>
          </li>
        </ul>
      </nav>
      {% include "blocks/pagination_archives.html" %}
    </div>
  {% else %}
    {% if page.header_image %}
      {% image page.header_image width-1200 as header_image %}
      <div class="hero is-medium is-dark has-background ash-hero-background-image"
           style="background-image: url({{ header_image.url }});
                  {{ header_image.background_position_style }}">
        <div class="hero-body">
        </div>
      </div>
    {% endif %}

    <section id="ash-hero-card" class="columns is-centered">
      <div class="card column  is-two-thirds-tablet is-half-desktop is-one-third-fullhd">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="{% static 'img/avatar.svg' %}" width="96" height="96" alt="">
              </figure>
            </div>
            <div class="media-content">
              {% if page.title %}
                <h1 class="title is-3">
                  {{ page.title }}
                </h1>
              {% endif %}
              {% if page.description %}
                <p class="is-6">
                  {{ page.description }}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-footer">
          {% for collection in page.get_image_collections %}
            <p class="card-footer-item">
              <a href="{{ collection.url }}">{{ collection.title }}</a>
            </p>
          {% endfor %}
        </div>
      </div>
    </section>

    {% if self.list_albums and images.number == 1 %}
      <section class="container mt-6">
        <div class="content">
          <h2>
            {% translate "Featured albums" %}
          </h2>
        </div>
        {% include "gallery/blocks/albums_list.html" with albums=self.list_featured_albums %}
        <div class="level">
          <div class="level-item has-text-centered mt-4">
            <a href="{% routablepageurl page 'albums_list' %}"
               class="button is-primary">
              <span class="icon">
                <i class="ri-gallery-fill" aria-hidden="true"></i>
              </span>
              <span>{% translate "See all albums" %}</span>
            </a>
          </div>
        </div>
      </section>
    {% endif %}
  {% endif %}

  {% if images %}
    <section class="container mt-6">
      <div class="content">
        <h2>
          {% translate "Images" %}
        </h2>
      </div>
      {% include "gallery/blocks/images_list.html" with page_slug=page.slug images=images %}
    </section>
  {% endif %}

  {% include "blocks/pagination_index.html" with page_obj=images %}

{% endblock content %}

{% block extra_footer %}
  {% include "gallery/blocks/gallery_footer.html" %}
{% endblock extra_footer %}
