{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags sri %}
{% block body_class %}
  template-gallery-index
{% endblock body_class %}

{% block header %}
  {% include "gallery/blocks/header.html" %}
{% endblock header %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
{% endblock title_suffix %}

{% block content %}
  {% if page.header_image %}
    {% image page.header_image width-1200 as header_image %}
    <div class="hero is-medium is-dark has-background ash-hero-background-image"
         style="background-image: url({{ header_image.url }});
                {{ header_image.background_position_style }}">
      <div class="hero-body">
      </div>
    </div>
  {% endif %}

  <div class="container mt-5">
    {% include "blocks/breadcrumbs.html" %}
    <h1 class="title has-text-centered">
      {{ self.title }}
    </h1>
  </div>

  <div class="container mt-6 content">
    {% for block in page.body %}
      {% if block.block_type == "services" %}
        <div class="columns is-multiline">
          {% for box in block.value %}
            <div class="column is-half">
              {% include_block box %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="content">
          {% include_block block %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {# First page only #}
  {% if self.list_albums and images.number == 1 %}
    <section class="container mt-6">
      <div class="content">
        <h2>
          {% translate "Featured albums" %}
        </h2>
      </div>
      {% include "gallery/blocks/albums_list.html" with albums=self.list_featured_albums %}
      <div class="level">
        <div class="level-item has-text-centered mt-4">
          <a href="{% routablepageurl page.get_gallery_index.specific 'albums_list' %}"
             class="button is-primary">
            <span class="icon">
              <i class="ri-gallery-fill" aria-hidden="true"></i>
            </span>
            <span>{% translate "See all albums" %}</span>
          </a>
        </div>
      </div>
    </section>
  {% endif %}

  <section class="container mt-6">
    <div class="content">
      <h2>
        {% translate "Images" %}
      </h2>
    </div>
    {% include "gallery/blocks/images_list.html" with page_slug=page.slug images=images %}
  </section>

  {% include "blocks/pagination_index.html" with page_obj=images %}
{% endblock content %}

{% block extra_footer %}
  {% include "gallery/blocks/gallery_footer.html" %}
{% endblock extra_footer %}
