{% extends "_base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags i18n %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
{% endblock title_suffix %}

{% block social_media %}
  <meta property="og:site_name" content="{{ request.get_host }}" />
  <meta property="og:title"
        content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.full_url }}" />
  <meta property="og:description" content="{{ self.search_description }}" />
  <meta property="og:locale" content="fr" />

  <meta name="twitter:site" content="@ash_crow" />
  <meta name="twitter:title"
        content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta name="twitter:description" content="{{ self.search_description }}" />
  <meta name="twitter:card" content="summary_large_image" />

  {% image self.image fill-1200x627 as header_image %}
  <meta property="og:image" content="{{ header_image.full_url }}" />
  <meta name="twitter:image" content="{{ header_image.full_url }}" />
  <meta property="og:image:alt " content="{{ self.alt_text }}" />
{% endblock social_media %}

{% block header %}
  {% include "gallery/blocks/header.html" %}
{% endblock header %}

{% block content %}
  <article>
    <div class="container mt-5">
      {% include "blocks/breadcrumbs.html" %}
      <h1 class="title has-text-centered">
        {{ self.title }}
      </h1>
    </div>

    <div class="mt-2 mb-5">
      <div class="content has-text-centered">
        {% if self.date %}
          <span class="icon-text">
            <span class="icon">
              <i class="ri-calendar-fill" aria-hidden="true"></i>
            </span>
            <span><time datetime="{{ self.date |date:'Y-m-d H:i:s e' }}">{{ self.date }}</time></span>
          </span>
          {% if self.author %}
            <span class="icon-text">
              <span class="icon">
                <i class="ri-user-3-fill" aria-hidden="true"></i>
              </span>
              <span>
                <a href="{% routablepageurl page.get_gallery_index.specific 'author_detail' author=self.author.username %}">{{ self.author.username }}</a>
              </span>
            </span>
          {% endif %}
          {% if self.imported_likes %}
            <span class="icon-text">
              <span class="icon">
                <i class="ri-heart-fill" aria-hidden="true"></i>
              </span>
              {% translate "Likes/faves received on the original publication" as likes_faves_label %}
              <span title="{{ likes_faves_label }}">{{ self.imported_likes }}</span>
            </span>
          {% endif %}
        {% endif %}
        {% if self.get_translations.live %}
          <span class="icon-text">
            <span class="icon">
              <i class="ri-translate ri-lg" aria-hidden="true"></i>
            </span>
            <span>
              {% for translation in self.get_translations.live %}
                {% get_language_info for translation.locale.language_code as lang %}
                <a href="{% pageurl translation %}"
                   rel="alternate"
                   hreflang="{{ language_code }}">{{ lang.name_local | title }}</a>
              {% endfor %}
            </span>
          </span>
        {% endif %}
      </div>
    </div>

    <div id="gallery-body" class="container">
      <div class="columns is-mobile">
        <div class="column is-three-fifths is-offset-one-fifth">
          {% for block in page.body %}
            {% include_block block %}
          {% endfor %}
        </div>
      </div>

      <div id="gallery-image" class="card mt-4 mb-6">
        <div class="card-image px-4 py-4">
          {% include "blocks/image_with_caption.html" with image=self.image alt=self.alt_text %}
        </div>
        <div class="card-content">
          <div class="content">
            {{ self.caption|richtext }}
            {% if self.file_license %}
              <p>
                <span class="icon-text">
                  <span class="icon">
                    <i class="ri-copyright-line ri-lg" aria-hidden="true"></i>
                  </span>
                  <span>
                    {% translate "License:" %} 
                    {% if self.get_license_url %}
                      <a href="{{ self.get_license_url }}"
                         target="_blank"
                         rel="noopener noreferrer">
                        {{ self.get_file_license_display }}
                        <span class="is-sr-only">{% translate "(opens in a new tab)" %}</span>
                      </a>
                    {% else %}
                      {{ self.get_file_license_display }}
                    {% endif %}
                  </span>
                </span>
              </p>
            {% endif %}
            {% if self.geo_lon and self.geo_lat %}
              <p>
                <span class="icon-text">
                  <span class="icon">
                    <i class="ri-earth-line ri-lg" aria-hidden="true"></i>
                  </span>
                  <span>
                    {% translate "Coordinates:" %} 
                    <a href="{{ self.get_coord_url }}"
                       target="_blank"
                       rel="noopener noreferrer">{{ self.geo_lat }}, {{ self.geo_lon }}</a>
                  </span>
                </span>
              </p>
            {% endif %}
            {% if self.get_photo_details %}
              <p>
                <span class="icon-text">
                  <span class="icon">
                    <i class="ri-camera-line ri-lg" aria-hidden="true"></i>
                  </span>
                  <span>{{ self.get_photo_details|safe }}</span>
                </span>
                {% if request.user.is_active and request.user.is_staff %}
                  <button class="button is-small open-modal"
                          id="open-modal-metadata-{{ self.image.id }}">
                    <span class="icon">
                      <i class="ri-camera-lens-line ri-lg"></i>
                    </span>
                    <span>{% translate "View image metadata" %}</span>
                  </button>
                {% endif %}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="meta container">
      <div class="tags">
        {% if self.tags.all %}
          <span class="icon-text">
            <span class="icon">
              <i class="ri-price-tag-3-fill" aria-hidden="true"></i>
            </span>
            <span>{% translate "Tags:" %}</span>
          </span>

          <div class="tags my-5">
            {% for tag in self.tags.all|dictsort:"slug" %}
              <a class="tag"
                 href="{% routablepageurl page.get_gallery_index.specific 'tag_detail' tag=tag.slug %}">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      {% if self.list_albums %}
        <div class="content">
          <h2>
            {% translate "Albums" %}
          </h2>
        </div>
        {% include "gallery/blocks/albums_list.html" with albums=self.list_albums %}
      {% endif %}
    </div>

  </article>
  {% translate "More images" as post_pagination_label %}
  {% include "blocks/pagination_post.html" with label=post_pagination_label %}

  {% if COMMENTS_APP == "django_comments_xtd" %}
    {% include "blog/blocks/blog_post_comments_xtd.html" with blog=self %}
  {% endif %}

  {% if request.user.is_active and request.user.is_staff %}
    <dialog class="modal"
            id="modal-metadata-{{ self.image.id }}"
            aria-modal="true"
            aria-labelledby="caption-{{ self.image.id }}">
      <div class="modal-background">
      </div>
      <div class="modal-card">
        <header class="modal-card-head">
          <h1 class="modal-card-title">
            Métadonnées
          </h1>
          <button class="delete ash-modal-close" aria-label="close">
          </button>
        </header>
        <section class="modal-card-body">
          <table class="table is-striped is-hoverable is-fullwidth">
            <caption>
              EXIF
            </caption>
            <tbody>
              {% for key, value in self.get_exif.items %}
                <tr>
                  <th scope="row">
                    {{ key }}
                  </th>
                  <td>
                    {{ value }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      </div>
    </dialog>
  {% endif %}
{% endblock content %}

{% block extra_footer %}
  {% include "gallery/blocks/gallery_footer.html" %}
{% endblock extra_footer %}
