{% extends "_base.html" %}
{% load i18n static wagtailcore_tags sri %}

{% block body_class %}
  template-searchresults
{% endblock body_class %}

{% block title %}
  {% translate "Search in gallery" %}
{% endblock title %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
  {% if paginator.num_pages > 1 %}
    — Page {{ search_results.number }}/{{ paginator.num_pages }}
  {% endif %}
{% endblock title_suffix %}

{% block header %}
  {% include "gallery/blocks/header.html" %}
{% endblock header %}

{% block content %}
  <div class="container">
    <div class="content mt-6">
      <h1>
        {% translate "Search in gallery" %}
      </h1>
      {% include "blocks/search_form.html" with search_page=search_url htmx_on=1 %}
    </div>

    {% include "gallery/blocks/search_results.html" with search_results=search_results search_query=search_query %}

  </div>
{% endblock content %}

{% block extra_footer %}
  {% include "gallery/blocks/gallery_footer.html" %}
{% endblock extra_footer %}

{% block extra_js %}
  {% sri_static "lib/htmx/htmx.2.0.4.min.js" %}
{% endblock extra_js %}
