{% load wagtailcore_tags wagtailimages_tags %}
<div class="card clickable-card">
  <div class="card-content">
    <div class="media has-text-centered">
      <div class="media-left" aria-hidden="true">
        <figure class="image is-48x48">
          {% image value.image max-96x96 alt=value.image.title loading="lazy" %}
        </figure>
      </div>
      <div class="media-content">
        <h3 class="title is-4">
          {{ value.title }}
        </h3>
        <p class="subtitle is-6">
          {{ value.url }}
        </p>
        <a rel="me"
           href="{{ value.url }}"
           class="is-overlay"
           title="{{ value.url }}"
           target="_blank"><span class="is-sr-only">{{ value.url }}</span></a><!-- Makes the full card clickable -->
      </div>
    </div>
  </div>
</div>
