<ul>
  {% for entry in value.category.members.all %}
    <li>
      {{ entry.name_en }} : <a rel="me" href="{{ entry.url }}" target="_blank">{{ entry.link_label }}</a>{# djlint:off #}{% if entry.comment %} ({{ entry.comment }}){% endif %}{# djlint:on #}
    </li>
  {% endfor %}
</ul>
