.navbar-brand .title
    font-family: 'Cianan-ur', fantasy

.title,
.subtitle,
h1,
h2,
h3,
h4,
h5,
h6,
.ash-comment-heading
    font-family: 'lackregular', serif

.subtitle
    line-height: 1.5rem

.content a
    text-decoration: underline
    text-decoration-color: var(--bulma-grey-lighter)

    &:hover
        text-decoration: underline
        text-decoration-color: var(--bulma-link)

.content .pagination a
    text-decoration: none

/* Fix the footer at the bottom of the page */
html,
body
    min-height: 100vh
    display: flex
    flex-direction: column

.footer
    padding-bottom: 4rem

    .subtitle
        margin-bottom: 1rem

    &:nth-of-type(1)
        margin-top: auto

.footer a
    color: var(--bulma-text-invert)

.footer a:hover
    color: var(--bulma-primary)

#skiplinks a
    position: absolute
    left: 0
    top: 0
    transform: translateY(-100%)
    transition: transform 0.3s

    &:focus
        transform: translateY(0%)

.breadcrumb li.is-active a
    color: var(--bulma-text)

/* Sane margin between content and footer */
#main
    margin-bottom: 4rem

/* Pagination */
.ash-pagination-page-number
    display: inline-flex
    color: var(--bulma-text)
    border: 1px solid var(--bulma-text)
    border-radius: 4px
    justify-content: center
    padding-bottom: calc(.5em - 1px)
    padding-left: 1em
    padding-right: 1em
    padding-top: calc(.5em - 1px)
    text-align: center
    white-space: nowrap
    align-items: center
    height: 2.5em

.ash-posts-list-entry
    margin-bottom: 6rem

#ash-hero-card .card
    margin-top: -4rem

#ash-hero-card img
    border-radius: 100%
    box-shadow: 0 0 6px 2px var(--bulma-primary-light)

.ash-hero-background-image
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    min-height: 250px

img.richtext-image.full-width
    margin: 2rem auto
    display: block

.ash-columns
    columns: 3 15em
    column-gap: 4em

/* Code blocks */
.ash-code-block pre
    margin: 2rem
    border-radius: 6px

/* Inline code */
code
    color: var(--bulma-grey)

.figure-button
    background-color: (--bulma-text-invert)
    border: 1px solid var(--bulma-grey)
    cursor: pointer
    border-radius: 2px
    padding: 2px
    position: relative

.ash-modal-fullwidth
    width: auto
    max-width: 90%

.twitter-tweet-rendered
    margin: auto

#footnotes p
    display: inline

.ash-equalheight .card
    height: 100%

.clickable-card:hover
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .2), 0 0 0 1px rgba(10, 10, 10, .04)

.ash-image
    position: relative

    & img
        height: auto
        max-width: 100%
        display: block
        margin: 0 auto

.ash-image-wrapper
    position: relative
    width: fit-content
    block-size: fit-content
    margin: 0 auto 2rem

.ash-image-alt
    position: absolute
    bottom: 1em
    left: 1em

.ash-image-wrapper figcaption
    text-align: center
    max-width: 800px

#gallery-image
    max-width: 800px
    margin: auto

    & figcaption
        display: none

/* Image comparison slider */

.ash-comparison-wrapper
    display: grid
    justify-content: center

.ash-comparison-slider
    position: relative
    display: inline-block
    line-height: 0

    & img
        width: 800px
        max-width: 800px
        height: 600px

    & > div
        position: absolute
        width: 50%
        max-width: 100%
        overflow: hidden
        resize: horizontal

    & > div:before
        /* Make the resize icon more visible */
        content: ""
        position: absolute
        right: 0px
        bottom: 0px
        display: block
        width: 15px
        height: 15px
        background: linear-gradient(-45deg, white 50%, transparent 0)
        background-clip: content-box
        filter: drop-shadow(0 0 2px gray)

    & > div:hover:before
        filter: drop-shadow(0 0 3px orange)

[data-theme=dark],
.theme-dark
    .content a
        text-decoration-color: var(--bulma-grey-darker)

        &:hover
            text-decoration-color: var(--bulma-link)
