body,
button,
input,
select,
textarea
  font-family: "millimetre_light", monospace
  font-size: larger

.title,
.subtitle,
h1,
h2,
h3,
h4,
h5,
h6
  font-family: "millimetre", monospace

.caption
  font-style: italic

address
  font-style: normal

#main-title
  font-family: "backout", sans-serif

.footer a
  color: var(--bulma-link)

.footer a:hover
  color: var(--bulma-primary)
