@charset "utf-8";

$blue: #2673a0;
$dark_blue: #1E5C80;

@use "../../../node_modules/bulma/sass" with ($primary: $dark_blue, $link: $blue);

// Import custom styles
@use "_common";
@use "_portfolio";

@import "../fonts/millimetre/stylesheet.css";
@import "../fonts/backout/stylesheet.css";
@import "../lib/remixicon/remixicon.css";
