@charset "utf-8";

// Set your own initial variables
$blue: #2779a7;
$dark_blue: #1E5C80;
$turquoise: #25836C;
$purple: #7D3D8F;
$dark_purple: #6E357E;
$gold: #FFD700;
$dark_gold: #8A6F0F;

@use "../../../node_modules/bulma/sass" with ($primary: $gold, $link: $blue);

// Import custom styles
@use "_common";

// Import fonts
@import "../fonts/cianan_ur/style.css";
@import "../fonts/lack/stylesheet.css";
@import "../lib/remixicon/remixicon.css";
