.card {
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 4rem auto;
}

.card:hover {
    box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
}

.card-body {
    padding: 1rem 4rem;
}

.card-footer {
    padding: 2rem;
}

.cards-column {
    max-width: 60rem;
    margin: 0 auto;
}

.columns {
    display: flex;
}

.column {
    flex: 50%;
    padding: 1rem 2rem;
    margin: 0 1rem;
}

.custom-form>ul>li {
    padding: 1em 0;
}
