@import url('/static/fonts/millimetre/stylesheet.css');
// CSS loosely based on a [pen by Kay](https://codepen.io/kay_dev/pen/YLdVjw) (MIT)

:root {
  --bg-main: #002b36;
  --text-main: #aabbbb;
  --text-credits: #839496;
  --yellow-bright: #f2cc00;
  --yellow: #c8ab37;
  --red: #dc322f;
  --magenta: #d33682;
  --cyan: #2aa198;
  --bg-gradient-light: rgba(3, 34, 46, .6);
  --bg-gradient-dark: rgba(0, 23, 34, .9);
  --bg-dark-lines: rgb(0, 10, 20);
}

html,
body,
h1 {
  padding: 0;
  margin: 0;
  color: var(--text-main);
  font-family: 'millimetre', monospace;
}

a {
  color: var(--cyan);

  &:hover {
    text-decoration-color: var(--magenta);
  }
}

.login {
  background: linear-gradient(var(--bg-gradient-light), var(--bg-gradient-dark)), repeating-linear-gradient(0, transparent, transparent 2px, var(--bg-dark-lines) 3px, var(--bg-dark-lines) 3px),
  url('/static/img/background_login.jpg');
  background-size: cover;
  background-position: center;
}

.login .content-wrapper {
  background:var(--bg-dark-lines);
  color: white;
  border:3px solid #0000;
  border-radius:.625rem;
  box-shadow:5px 5px 30px var(--w-color-box-shadow-md);
  float:none;
  height:auto;
  margin-bottom:15vh;
  max-width:25.2rem;
  padding:2.5rem 3rem
}

.login h1 {
  color: var(--red);
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

.w-field__label {
  color: var(--yellow);
}

.w-required-mark {
  color: var(--magenta);
}

.reset-password {
    color: var(--cyan);
}

.button {
  background-color: var(--yellow);
  color: black;
  border: none;
}

.button:hover {
  background-color: var(--yellow-bright);
  color: black;
}

.restricted-access {
  font-size: large;
  text-align: center;
}

marquee {
  margin-top: 2em;
  text-transform: uppercase;
  font-size: large;

}

// Add a slight glitch effect to some spans
marquee em {
  text-shadow: 0px 0px 8px var(--text-main), 0px 0px 10px var(--text-credits);
  font-style: normal;
}
