@import url('/static/fonts/millimetre/stylesheet.css');
// CSS based on a [pen by Kay](https://codepen.io/kay_dev/pen/YLdVjw) (MIT license)

:root {
    --bg-main: #002b36;
    --text-main: #aabbbb;
    --text-credits: #839496;
    --yellow: #f2cc00;
    --yellow: #b58900;
    --yellow: #c8ab37;
    --magenta: #d33682;
    --cyan: #2aa198;
    --bg-gradient-light: rgba(3, 34, 46, .6);
    --bg-gradient-dark: rgba(0, 23, 34, .9);
    --bg-dark-lines: rgb(0, 10, 20);
}

html,
body,
h1 {
    padding: 0;
    margin: 0;
    color: var(--text-main);
    font-family: 'millimetre', monospace !important;
}

a {
    color: var(--cyan);

    &:hover {
        text-decoration-color: var(--magenta);
    }
}

.glitch-icon {
    text-decoration: none;
}

.glitch-icon span {
    text-decoration: underline;
    padding-left: 0.5rem;

    &:hover {
        text-decoration-color: var(--magenta);
    }
}

.glitch-icon i {
    color: var(--yellow);
}

// For the error 400/500/50x
#app {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--bg-gradient-light), var(--bg-gradient-dark)), repeating-linear-gradient(0, transparent, transparent 2px, var(--bg-dark-lines) 3px, var(--bg-dark-lines) 3px);
    z-index: 1;

    &.err-400 {
            background: linear-gradient(var(--bg-gradient-light), var(--bg-gradient-dark)), repeating-linear-gradient(0, transparent, transparent 2px, var(--bg-dark-lines) 3px, var(--bg-dark-lines) 3px),
            url('/static/img/background_400.jpg');
        background-size: cover;
        background-position: center;
    }

    &.err-500 {
            background: linear-gradient(var(--bg-gradient-light), var(--bg-gradient-dark)), repeating-linear-gradient(0, transparent, transparent 2px, var(--bg-dark-lines) 3px, var(--bg-dark-lines) 3px),
            url('/static/img/background_500.jpg');
        background-size: cover;
        background-position: center;
    }

    &.err-50x {
            background: linear-gradient(var(--bg-gradient-light), var(--bg-gradient-dark)), repeating-linear-gradient(0, transparent, transparent 2px, var(--bg-dark-lines) 3px, var(--bg-dark-lines) 3px),
            url('/static/img/background_50x.jpg');
        background-size: cover;
        background-position: center;
        }
}

.err-403 {
    padding: 0;
    margin: 0;
    background: linear-gradient(var(--bg-gradient-light), var(--bg-gradient-dark)), repeating-linear-gradient(0, transparent, transparent 2px, var(--bg-dark-lines) 3px, var(--bg-dark-lines) 3px),
    url('/static/img/background_login.jpg');
    background-size: cover;
    background-position: center;
}

.err-404 {
    padding: 0;
    margin: 0;
    background: linear-gradient(var(--bg-gradient-light), var(--bg-gradient-dark)), repeating-linear-gradient(0, transparent, transparent 2px, var(--bg-dark-lines) 3px, var(--bg-dark-lines) 3px),
    url('/static/img/background_404.jpg');
    background-size: cover;
    background-position: center;
}

#wrapper {
    text-align: center;
}


.subtitle {
    color: var(--cyan);
    letter-spacing: 1em;
    font-family: 'millimetre', monospace;
}

#credits {
    position: absolute;
    bottom: 2px;
    right: 1em;
    font-size: x-small;
    color: var(--text-credits);
}

.inline-list {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.inline-list>li {
    display: inline;
}

.inline-list>li:not(:last-child):after {
    content: ' ⋅ ';
}

// Here's the meat and potatoes.

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
@mixin glitchCopy {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch {
    position: relative;
    color: var(--yellow);
    font-size: 5em;
    letter-spacing: .5em;
    /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
    animation: glitch-skew 1s infinite linear alternate-reverse;

    // Creates a copy before our text.
    &::before {
        // Duplicates our text with the mixin.
        @include glitchCopy;
        // Scoots text slightly to the left for the color offset.
        left: 2px;
        // Creates the color 'shadow' that happens on the glitch.
        text-shadow: -2px 0 var(--magenta);
        /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
        clip: rect(44px, 450px, 56px, 0);
        /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
        animation: glitch-anim 5s infinite linear alternate-reverse;
    }

    // Creates a copy after our text. Note comments from ::before.
    &::after {
        @include glitchCopy;
        left: -2px;
        text-shadow: -2px 0 var(--cyan), 2px 2px var(--magenta);
        animation: glitch-anim2 1s infinite linear alternate-reverse;
    }
}

/* Creates an animation with 20 steaps. For each step, it calculates
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
    $steps: 20;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
            transform: skew((random(100) / 100) + deg);
        }
    }
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
    $steps: 20;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
            transform: skew((random(100) / 100) + deg);
        }
    }
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
    $steps: 10;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            transform: skew((random(10) - 5) + deg);
        }
    }
}

// Add a slight glitch effect to icons on hover only
.glitch-icon:hover {
    i::before {
        text-shadow: -1px -1px var(--magenta), 1px 1px var(--cyan);
    }
}
