{% load i18n wagtailimages_tags wagtailroutablepage_tags gallery_tags %}
<div class="card clickable-card">
  <div class="card-content">
    <div class="media has-text-centered">
      <div class="media-left">
        <figure class="image is-96x96">
          {% get_image_from_pk album.album_icon as album_icon %}
          {% image album_icon fill-400x400 alt="" class="is-rounded" loading="lazy" %}
        </figure>
      </div>
      <div class="media-content">
        <h3 class="title is-4">
          {{ album.album_name }}
        </h3>
        {% with total=album.album_count %}
          <p class="subtitle is-6">
            {{ total }} image{{ total|pluralize }}
          </p>
        {% endwith %}
        <a class="is-overlay"
           href="{% routablepageurl page.get_gallery_index.specific 'album_detail' album=album.album_slug %}"
           title="{{ album.album_name }}"></a>
      </div>
    </div>
  </div>
</div>
