<div id="all-albums" class="columns is-centered is-multiline">
  {% for album in albums %}
    <div class="column is-narrow">{% include "gallery/blocks/album_card.html" with album=album %}</div>
  {% endfor %}
</div>
