{% load i18n wagtailcore_tags wagtailroutablepage_tags %}
<footer class="footer hero is-dark">
  <div class="columns">
    {% include "blocks/footer_left_column.html" %}
    <div class="column">
      {% if site_navigation.gallery.latest_images %}
        <h2 class="subtitle">
          {% translate "Latest images" %}
        </h2>
        <ul class="mb-6">
          {% for image in site_navigation.gallery.latest_images %}
            <li>
              <a href="{{ image.url }}"><strong>{{ image.title }}</strong> ({{ image.date }})</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if site_navigation.gallery.latest_comments %}
        <h2 class="subtitle">
          {% translate "Latest comments" %}
        </h2>
        <ul>
          {% for comment in site_navigation.gallery.latest_comments %}
            <li>
              <a href="{% slugurl comment.page.slug %}#comments"><strong>{{ comment.page.title }}</strong> — {{ comment.user_name }} ({{ comment.date }})</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <nav class="level mt-4">
        <div class="level-left">
          <div class="level-item">
            <a href="{% routablepageurl site_navigation.gallery.index 'atom_feed' %}">
              <span class="icon-text">
                <span class="icon has-text-primary">
                  <i class="ri-rss-fill" aria-hidden="true"></i>
                </span>
                <span>Atom</span>
              </span>
            </a>
          </div>
          <div class="level-item">
            <a href="{% routablepageurl site_navigation.gallery.index 'rss_feed' %}">
              <span class="icon-text">
                <span class="icon has-text-primary">
                  <i class="ri-rss-fill" aria-hidden="true"></i>
                </span>
                <span>RSS</span>
              </span>
            </a>
          </div>
        </div>
      </nav>

    </div>
    <div class="column">
      <h2 class="subtitle">
        {% translate "Albums" %}
      </h2>
      <ul class="mb-6">
        {% for album in site_navigation.gallery.albums %}
          <li>
            <a href="{% routablepageurl site_navigation.gallery.index 'album_detail' album=album.album_slug %}">
              <strong>{{ album.album_name }}</strong> ({{ album.album_count }})
            </a>
          </li>
        {% endfor %}
        <li>
          <a href="{% routablepageurl site_navigation.gallery.index 'albums_list' %}">
            <span class="icon-text">
              <span class="icon">
                <i class="ri-arrow-right-line ri-lg" aria-hidden="true"></i>
              </span>
              <span><strong>{% translate "See all albums" %}</strong></span>
            </span>
          </a>
        </li>
      </ul>
      <h2 class="subtitle">
        {% translate "Tags" %}
      </h2>
      <ul>
        {% for tag in site_navigation.gallery.tags %}
          <li>
            <a href="{% routablepageurl site_navigation.gallery.index 'tag_detail' tag=tag.tag_slug %}"><strong>{{ tag.tag_name }}</strong> ({{ tag.tag_count }})</a>
          </li>
        {% endfor %}
        <li>
          <a href="{% routablepageurl site_navigation.gallery.index 'tags_list' %}">
            <span class="icon-text">
              <span class="icon">
                <i class="ri-arrow-right-line ri-lg" aria-hidden="true"></i>
              </span>
              <span><strong>{% translate "See all tags" %}</strong></span>
            </span>
          </a>
        </li>

      </ul>
    </div>
    {% if site_navigation.gallery.years %}
      <div class="column">
        <h2 class="subtitle">
          {% translate "Archives" %}
        </h2>
        <ul>
          {% for year in site_navigation.gallery.years %}
            <li>
              <a href="{% routablepageurl site_navigation.gallery.index 'archive_year' year=year.year %}"><strong>{{ year.year }}</strong> ({{ year.year_count }})</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</footer>
