{% load i18n static wagtailcore_tags wagtailroutablepage_tags %}
<div class="hero is-black is-bold">
  <div class="hero-head">
    <nav class="navbar is-black">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% pageurl site_navigation.root_page %}">
            <img src="{% static 'favicon/favicon.svg' %}"
                 class="mr-4"
                 width="28"
                 height="28"
                 alt="">
            <span class="title">{{ request.get_host }}</span>
          </a>
          <span class="navbar-burger has-text-white" data-target="navbar-menu-hero">
            {# djlint:off H020 #}
            <span></span>
            <span></span>
            <span></span>
            {# djlint:on #}
          </span>
        </div>
        <div id="navbar-menu-hero" class="navbar-menu">
          <ul class="navbar-end">

            <li class="navbar-item has-dropdown is-hoverable">
              {% if request.user.is_active and request.user.is_staff %}
                <div class="dropdown is-hoverable">
                  <a class="navbar-link" href="#" aria-controls="dropdown-menu-admin">
                    <span class="icon-text">
                      <span class="icon">
                        <i class="ri-admin-fill" aria-hidden="true"></i>
                      </span>
                      <span>Admin</span>
                    </span>
                  </a>

                  <div class="dropdown-menu" id="dropdown-menu-admin" role="menu">
                    <div class="navbar-dropdown">
                      <a href="{% url 'admin:index' %}" class="navbar-item">Django</a>
                      <a href="{% url 'wagtailadmin_home' %}" class="navbar-item">Wagtail</a>
                      <hr class="navbar-divider">
                      <a href="{% url 'commonsfile-list' %}" class="navbar-item">{% translate "Commons import" %}</a>
                    </div>
                  </div>
                </div>
              {% endif %}
            </li>

            <li class="navbar-item has-dropdown is-hoverable">
              {% include "blocks/header_theme_selector.html" %}
            </li>
            <li class="navbar-item">
              {% include "blocks/search_form.html" with search_page=site_navigation.gallery.index.search_url %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
