{% load i18n wagtailimages_tags %}
<div class="card clickable-card">
  <div class="card-image px-4 py-4" role="presentation">
    <figure class="image is-square">
      {% image image.image fill-600x600 alt="" loading="lazy" %}
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <h3 class="subtitle">{{ image.title }}</h3>
      <a class="is-overlay" href="{{ image.url }}" title="{{ image.title }}"></a>
      <span>{{ image.date }}</span>
      {% if image.imported_likes %}
        <span class="icon-text">
          <span class="icon">
            <i class="ri-heart-fill" aria-hidden="true"></i>
          </span>
          <span>{{ image.imported_likes }}</span>
        </span>
      {% endif %}
    </div>
  </div>
</div>
