{% load i18n %}
{% if images %}
  <section id="images-list">
    <div id="latest-images"
         class="columns is-centered is-multiline ash-equalheight">
      {% for image in images %}
        <div class="column is-one-third">{% include "gallery/blocks/image_card.html" with image=image %}</div>
      {% endfor %}
    </div>
  </section>
{% endif %}
