{% load i18n %}
<div id="search-results">
  {% if search_results %}
    <div class="content">
      <h2>
        {{ paginator.count }} {% translate "results" %}
      </h2>
    </div>
    <div class="block">
      {% include "gallery/blocks/images_list.html" with page_slug=page.slug images=search_results %}
    </div>

    {% include "blocks/pagination_search_results.html" with search_page=search_url %}

  {% elif search_query %}
    <p>
      {% translate "No results found" %}
    </p>
  {% endif %}
</div>
