{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}

{% block title %}
  {% translate "Remove comment" %}
{% endblock title %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="content">
        <h1 class="title">{% translate "Remove this comment?" %}</h1>
        <p>
          {% translate "As a moderator you can delete comments. Deleting a comment does not remove it from the site, only prevents your website from showing the text. Click on the remove button to delete the following comment:" %}
        </p>
        <article class="media">
          <figure class="media-left">
            {{ comment.user_email|xtd_comment_gravatar }}
          </figure>
          <div class="media-content">
            <div class="content">
              <p class="ash-comment-heading">
                <strong>
                  {% if comment.url %}<a href="{{ comment.url }}" target="_new">{% endif %}
                    {{ comment.name }}
                    {% if comment.url %}</a>{% endif %}
                  </strong> <small>{{ comment.submit_date }}</small>
                </p>
                <p>{{ comment.comment }}</p>
              </div>
            </div>
          </article>
        </div>
        <div class="content">
          <form action="." method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ comment.get_absolute_url }}" />
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" name="submit" class="button is-danger">{% translate "Remove" %}</button>
              </div>
              <div class="control">
                <a class="button is-link is-light" href="{{ comment.get_absolute_url }}">{% translate "Cancel" %}</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  {% endblock content %}
