{% load i18n comments bulma_tags %}

<form method="post"
      action="{% comment_form_target %}"
      class="form-horizontal mt-4">
  {% csrf_token %}
  <fieldset>
    <legend class="is-3">{% translate "Add a new comment" %}</legend>
    <input type="hidden" name="next" value="{% url 'comments-xtd-sent' %}" />

    <div class="alert alert-danger hidden" data-comment-element="errors"></div>

    {% for field in form %}
      {% if field.is_hidden %}<div>{{ field }}</div>{% endif %}
    {% endfor %}

    <div class="is-hidden">{{ form.honeypot }}</div>

    {{ form.comment | bulma }}

    {% if not request.user.is_authenticated %}
      {{ form.name | bulma }}
      {{ form.email | bulma }}
      {{ form.url | bulma }}
    {% endif %}

    {{ form.followup | bulma }}
  </fieldset>

  <div class="field is-grouped mt-3">
    <p class="control">
      <input type="submit"
             name="post"
             value="{% translate 'Publish' %}"
             class="button is-primary" />
      <input type="submit"
             name="preview"
             value="{% translate 'Preview' %}"
             class="button" />
    </p>
  </div>
</form>
