{% extends "_base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Comment confirmation requested." %}
{% endblock title %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="content">
        {{ comment.content_object.get_base_url }}
        <h1 class="title">{% translate "Comment confirmation requested." %}</h1>
        <p>
          {% blocktranslate %}A confirmation message has been sent to your
        email address. Please, click on the link in the message to confirm
        your comment.{% endblocktranslate %}
        </p>
        <p>
          <a class="level-item" href="{{ target.get_absolute_url }}">
            <span class="icon-text">
              <span class="icon">
                <i class="ri-history-line ri-lg" aria-hidden="true"></i>
              </span>
              <span>{{ target }}</span>
            </span>
          </a>
        </p>
      </div>
    </div>
  </section>
{% endblock content %}
