{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}

{% block title %}
  {% translate "Preview your comment" %}
{% endblock title %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="content">
        <h1 class="title">{% translate "Preview your comment" %}</h1>
        <p>
          {% translate "Preview of your comment for:" %} <a href="{{ form.target_object.get_absolute_url }}">{{ form.target_object }}</a>
        </p>
        {% if not comment %}
          <em>{% translate "Empty comment." %}</em>
        {% else %}
          <article class="media">
            <figure class="media-left">
              {{ form.cleaned_data.email|xtd_comment_gravatar }}
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="ash-comment-heading">
                  <strong>
                    {% if form.cleaned_data.url %}<a href="{{ form.cleaned_data.url }}" target="_new">{% endif %}
                      {{ form.cleaned_data.name }}
                      {% if form.cleaned_data.url %}</a>{% endif %}
                    </strong> <small>{% now "DATETIME_FORMAT" %}</small>
                  </p>
                  <p>{{ comment }}</p>
                </div>
              </div>
            </article>
          {% endif %}
        </div>
        <div class="content">{% include "comments/form.html" %}</div>
      </div>
    </section>
  {% endblock content %}
