{% extends "_base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
{% endblock title_suffix %}

{% block social_media %}
  <meta property="og:site_name" content="{{ request.get_host }}" />
  <meta property="og:title"
        content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.full_url }}" />
  <meta property="og:description" content="{{ self.search_description }}" />
  <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />

  {% if self.get_translations.live %}
    {% for translation in self.get_translations.live %}
      <meta property="og:locale:alternate"
            content="{{ translation.locale.language_code }}" />
    {% endfor %}
  {% endif %}

  <meta name="twitter:site" content="@ash_crow" />
  <meta name="twitter:title"
        content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta name="twitter:description" content="{{ self.search_description }}" />
  <meta name="twitter:card" content="summary_large_image" />

  {% if self.header_image %}
    {% image self.header_image fill-1200x627 as header_image %}
    <meta property="og:image" content="{{ header_image.full_url }}" />
    <meta name="twitter:image" content="{{ header_image.full_url }}" />
  {% endif %}
{% endblock social_media %}

{% block content %}
  {% include "blog/blocks/blog_post.html" with blog=self %}

  {% include "blog/blocks/footnotes.html" %}

  {% translate "More articles" as post_pagination_label %}
  {% include "blocks/pagination_post.html" with label=post_pagination_label %}

  {% if COMMENTS_APP == "django_comments_xtd" %}
    {% include "blog/blocks/blog_post_comments_xtd.html" with blog=self %}
  {% endif %}
{% endblock content %}

{% block extra_footer %}
  {% include "blog/blocks/blog_footer.html" %}
{% endblock extra_footer %}
