{% extends "_base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags static i18n %}

{% block title %}
  {% if category %}
    {% translate "Category:" %} {{ category }} —
  {% elif tag %}
    {% translate "Tag:" %} {{ tag }} —
  {% elif author %}
    {% translate "Author:" %} {{ author }} —
  {% elif year %}
    {% translate "Archives for year" %} {{ year }} —
  {% endif %}
  {% if page.seo_title %}
    {{ page.seo_title }}
  {% else %}
    {{ page.title }}
  {% endif %}
{% endblock title %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
  {% if paginator.num_pages > 1 %}
    — Page {{ posts.number }}/{{ paginator.num_pages }}
  {% endif %}
{% endblock title_suffix %}

{% block social_media %}
  <meta property="og:site_name" content="{{ request.get_host }}" />
  <meta property="og:title"
        content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.full_url }}" />
  <meta property="og:description" content="{{ self.search_description }}" />
  <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
  <link rel="alternate"
        type="application/atom+xml"
        title="Atom"
        href="{% routablepageurl page 'atom_feed' %}">
  <link rel="alternate"
        type="application/rss+xml"
        title="RSS"
        href="{% routablepageurl page 'rss_feed' %}">

  {% if self.get_translations.live %}
    {% for translation in self.get_translations.live %}
      <meta property="og:locale:alternate"
            content="{{ translation.locale.language_code }}" />
    {% endfor %}
  {% endif %}

  <meta name="twitter:site" content="@ash_crow" />
  <meta name="twitter:title"
        content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta name="twitter:description" content="{{ self.search_description }}" />
  <meta name="twitter:card" content="summary_large_image" />

  {% if self.header_image %}
    {% image self.header_image fill-1200x627 as header_image %}
    <meta property="og:image" content="{{ header_image.full_url }}" />
    <meta name="twitter:image" content="{{ header_image.full_url }}" />
  {% endif %}
{% endblock social_media %}

{% block content %}
  {% if category %}
    <div class="hero is-dark is-bold">
      <div class="hero-body container">
        <h1 class="title">
          {% blocktranslate %}Posts in category {{ category }}{% endblocktranslate %}
        </h1>
      </div>
    </div>
    <div class="container">
      <nav class="breadcrumb mt-4" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="{% pageurl page %}">{% translate "Blog" %}</a>
          </li>
          <li>
            <a href="{% routablepageurl page 'categories_list' %}">{% translate "Categories" %}</a>
          </li>
          <li class="is-active">
            <a href="#" aria-current="page">{{ category }}</a>
          </li>
        </ul>
      </nav>
      <div class="level mt-4">
        <div class="level-left">
          <div class="level-item">
            <p>
              {% translate "Feeds for this category:" %}
            </p>
          </div>
          <div class="level-item">
            <a href="{% routablepageurl page 'atom_feed' %}?category={{ category.slug }}">
              <span class="icon-text">
                <span class="icon">
                  <i class="ri-rss-fill" aria-hidden="true"></i>
                </span>
                <span>Atom</span>
              </span>
            </a>
          </div>
          <div class="level-item">
            <a href="{% routablepageurl page 'rss_feed' %}?category={{ category.slug }}">
              <span class="icon-text">
                <span class="icon">
                  <i class="ri-rss-fill" aria-hidden="true"></i>
                </span>
                <span>RSS</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% elif tag %}
    <div class="hero is-dark is-bold">
      <div class="hero-body container">
        <h1 class="title">
          {% blocktranslate %}Posts tagged with #{{ tag }}{% endblocktranslate %}
        </h1>
      </div>
    </div>
    <div class="container">
      <nav class="breadcrumb mt-4" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="{% pageurl page %}">{% translate "Blog" %}</a>
          </li>
          <li>
            <a href="{% routablepageurl page 'tags_list' %}">{% translate "Tags" %}</a>
          </li>
          <li class="is-active">
            <a href="#" aria-current="page">{{ category }}</a>
          </li>
        </ul>
      </nav>
    </div>
  {% elif author %}
    <div class="hero is-dark is-bold">
      <div class="hero-body container">
        <h1 class="title">
          {% blocktranslate %}Posts written by {{ author }}{% endblocktranslate %}
        </h1>
      </div>
    </div>
    <div class="container">
      <nav class="breadcrumb mt-4" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="{% pageurl page %}">{% translate "Blog" %}</a>
          </li>
          <li class="is-active">
            <a href="#" aria-current="page">{% blocktranslate %}Posts written by {{ author }}{% endblocktranslate %}</a>
          </li>
        </ul>
      </nav>
    </div>
  {% elif year %}
    <div class="hero is-dark is-bold">
      <div class="hero-body container">
        <h1 class="title">
          {% blocktranslate %}Posts published in {{ year }}{% endblocktranslate %}
        </h1>
      </div>
    </div>
    <div class="container">
      <nav class="breadcrumb mt-4" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="{% pageurl page %}">{% translate "Blog" %}</a>
          </li>
          <li>
            <a href="{% routablepageurl page 'archives_list' %}">{% translate "Archives" %}</a>
          </li>
          <li class="is-active">
            <a href="#" aria-current="page">{% blocktranslate %}Posts published in {{ year }}{% endblocktranslate %}</a>
          </li>
        </ul>
      </nav>
      {% include "blocks/pagination_archives.html" %}
    </div>
  {% else %}
    {% if page.header_image %}
      {% image page.header_image width-1200 as header_image %}
      <div class="hero is-medium is-dark has-background ash-hero-background-image"
           style="background-image: url({{ header_image.url }});
                  {{ header_image.background_position_style }}">
        <div class="hero-body">
        </div>
      </div>
      <section id="ash-hero-card" class="columns is-centered">
        <div class="card column is-two-thirds-tablet is-half-desktop is-one-third-fullhd mb-6">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img src="{% static 'img/avatar.svg' %}" width="96" height="96" alt="">
                </figure>
              </div>
              <div class="media-content">
                <h1 class="title is-3">
                  {% translate "Blog" %}
                </h1>
                {% if page.description %}
                  <p class="is-6">
                    {{ page.description }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  {% endif %}

  {% for rl in self.related_links.all %}
    <p>
      {{ rl.title }}: <a href='{{ rl.link_page.url }}'>{{ rl.link_page }}</a>
    </p>
  {% endfor %}

  {% if posts %}
    <div id="posts-list" class="container mb-5 mt-5">
      <div class="columns is-centered is-multiline ash-equalheight">
        {% for post in posts %}
          <div class="column is-half">
            {% include "blog/blocks/card_blog_post.html" with post=post index=forloop.counter %}
          </div>
        {% endfor %}
      </div>
    </div>

    {% include "blocks/pagination_index.html" with page_obj=posts %}

  {% else %}
    <div class="mt-6">
      <div class="container">
        <p>
          {% translate "There are currently no blog posts" %}
        </p>
      </div>
    </div>
  {% endif %}
{% endblock content %}

{% block extra_footer %}
  {% include "blog/blocks/blog_footer.html" with blog=self %}
{% endblock extra_footer %}
