{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags sri %}
{% block body_class %}
  template-albums-page
{% endblock body_class %}

{% block title %}
  {% translate "Tags" %}
{% endblock title %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
{% endblock title_suffix %}

{% block content %}
  <section class="container mt-6">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li class="is-active">
          <a href="{% pageurl page %}">{% translate "Blog" %}</a>
          <a href="#" aria-current="page">{% translate "Tags" %}</a>
        </li>
      </ul>
    </nav>

    <div class="content">
      <h2>
        {% translate "Tags" %}
      </h2>
      <div class="buttons has-addons is-centered">
        {% for first_letter in sorted_tags.keys|dictsort:0 %}
          <a href="#{{ first_letter }}" class="button is-link is-light">{{ first_letter }}</a>
        {% endfor %}
      </div>

      {% for first_letter, tags in sorted_tags.items|dictsort:0 %}
        <h2 id="{{ first_letter }}">
          {{ first_letter }}
        </h2>
        <ul class="ash-columns">
          {% for tag in tags|dictsort:"tag_slug" %}
            <li>
              <a href="{% routablepageurl page 'tag_detail' tag=tag.tag_slug %}"><strong>{{ tag.tag_name }}</strong> ({{ tag.tag_count }})</a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </section>
{% endblock content %}

{% block extra_footer %}
  {% include "blog/blocks/blog_footer.html" %}
{% endblock extra_footer %}
