{% extends "_base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags sri %}
{% block body_class %}
  template-albums-page
{% endblock body_class %}

{% block title %}
  {% translate "Archives" %}
{% endblock title %}

{% block title_suffix %}
  {% wagtail_site as current_site %}
  — {{ current_site.hostname }}
{% endblock title_suffix %}

{% block content %}
  <section class="container mt-6">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="{% pageurl page %}">{% translate "Blog" %}</a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page">{% translate "Archives" %}</a>
        </li>
      </ul>
    </nav>

    <div class="content">
      <h2>
        {% translate "Archives" %}
      </h2>
      <ul>
        {% for year in site_navigation.blog.years %}
          <li>
            <a href="{% routablepageurl site_navigation.blog.index 'archive_year' year=year.year %}"><strong>{{ year.year }}</strong> ({{ year.year_count }})</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock content %}

{% block extra_footer %}
  {% include "blog/blocks/blog_footer.html" %}
{% endblock extra_footer %}
