{% load i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags static %}
<!-- template: blog_post -->


{% if blog.header_image %}
  {% image blog.header_image width-1200 as header_image %}
  <div class="hero is-medium is-dark has-background ash-hero-background-image"
       style="background-image: url({{ header_image.url }});
              {{ header_image.background_position_style }}">
    <div class="hero-body">
    </div>
  </div>
{% endif %}

<article>
  <div class="container mt-5 h-entry">
    {% if include_context == "index_page" %}
      <a class="blog-post-link" href="{% pageurl blog %}">
        <h2 class="title has-text-centered">
          {{ blog.title }}
        </h2>
      </a>
    {% else %}
      <h1 class="title has-text-centered">
        {{ blog.title }}
      </h1>
    {% endif %}

    {% if blog.subtitle %}
      <h2 class="subtitle has-text-centered">
        {{ blog.subtitle }}
      </h2>
    {% endif %}
    <div class="mt-2 mb-5">
      <div class="content has-text-centered">
        {% if blog.date %}
          <span class="icon-text">
            <span class="icon">
              <i class="ri-calendar-fill" aria-hidden="true"></i>
            </span>
            <span><time class="dt-published" datetime="{{ blog.date |date:'Y-m-d H:i:s e' }}">{{ blog.date }}</time></span>
          </span>
          {% if blog.author %}
            <span class="icon-text">
              <span class="icon">
                <i class="ri-user-3-fill" aria-hidden="true"></i>
              </span>
              <span class="p-author h-card">
                <a class="u-url"
                   href="{% routablepageurl blog.get_parent.specific 'author_detail' author=blog.author.username %}">{{ blog.author.username }}</a>
              </span>
            </span>
          {% endif %}
        {% endif %}
        {% if blog.categories.all %}
          <span class="icon-text">
            <span class="icon">
              <i class="ri-folder-open-fill" aria-hidden="true"></i>
            </span>
            <span>
              {% for cat in blog.categories.all %}
                <a href="{% routablepageurl blog.get_parent.specific 'category_detail' category=cat.category.slug %}">{{ cat.category.name }}</a>
                {% if not forloop.last %}
                  ,
                {% endif %}
              {% endfor %}
            </span>
          </span>
        {% endif %}
        {% if blog.get_translations.live %}
          <span class="icon-text">
            <span class="icon">
              <i class="ri-translate ri-lg" aria-hidden="true"></i>
            </span>
            <span>
              {% for translation in blog.get_translations.live %}
                {% get_language_info for translation.locale.language_code as lang %}
                <a href="{% pageurl translation %}"
                   rel="alternate"
                   hreflang="{{ translation.locale.language_code }}">{{ lang.name_local | title }}</a>
              {% endfor %}
            </span>
          </span>
        {% endif %}
      </div>
    </div>

    <div id="blog-body" class="content p-content">
      {% for block in page.body_stream %}
        {% include_block block %}
      {% endfor %}
    </div>

    {% if blog.header_image %}
      <div class="header_image_info">
        {% include "blog/blocks/header_image_info.html" with blog=blog %}
      </div>
    {% endif %}

    <div class="meta">
      <div class="tags">
        {% if blog.tags.all %}
          <span class="icon-text">
            <span class="icon">
              <i class="ri-price-tag-3-fill" aria-hidden="true"></i>
            </span>
            <span>{% translate "Tags:" %}</span>
          </span>

          <div class="tags my-5">
            {% for tag in blog.tags.all|dictsort:"slug" %}
              <a class="tag"
                 href="{% routablepageurl blog.get_parent.specific 'tag_detail' tag=tag.slug %}">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    {% include "blog/blocks/blog_post_comments_xtd_link.html" with blog=blog %}
  </div>
</article>
