{% load i18n wagtailcore_tags comments %}

{% get_comment_count for blog as comment_count %}
<p class="content mt-4">
  <span class="icon">
    <i class="ri-message-2-fill" aria-hidden="true"></i>
  </span>
  <span>
    <a href="{% pageurl blog %}#comments">
      {% blocktranslate count count=comment_count trimmed %}
        {{ comment_count }} comment posted.
      {% plural %}
        {{ comment_count }} comments posted.
      {% endblocktranslate %}
    </a>
  </span>
</p>
