{% load i18n comments comments_xtd %}
<!-- template: blog_post_comments_xtd -->
<section class="section">
  <div class="container">
    <div class="content">
      <h2>{% translate "Comments" %}</h2>
      {% render_xtdcomment_tree for self %}
      {% if self.comments_opened %}
        {% render_comment_form for self %}
      {% else %}
        <div class="mt-4">
          <div class="notification">
            {% translate "Comments are closed." %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>
