{% load i18n wagtailimages_tags %}
<div class="card clickable-card">
  {% if post.header_image %}
    <div class="card-image" role="presentation">
      <figure class="image is-2by1">
        {% if index < 5 %}
          {# lazy loading of images under the floating line #}
          {% image post.header_image fill-800x400 alt="" %}
        {% else %}
          {% image post.header_image fill-800x400 alt="" loading="lazy" %}
        {% endif %}
      </figure>
    </div>
  {% endif %}
  <div class="card-content">
    <div class="content">
      <p>
        <span class="subtitle">{{ post.title }}</span>
        <a class="is-overlay" href="{{ post.url }}" title="{{ post.title }}"><span class="is-sr-only">{{ post.title }}</span></a>
      </p>
      {% if post.date %}
        <span class="icon">
          <i class="ri-calendar-fill" aria-hidden="true"></i>
        </span>
        <span>{{ post.date }}</span>
        {% if post.author %}
          <span class="icon">
            <i class="ri-user-3-fill" aria-hidden="true"></i>
          </span>
          <span>
            {{ post.author.username }}
          </span>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
