{% load i18n wagtailcore_tags %}

{% if page.footnotes_list %}
<section class="section">
  <div class="container">
    <div class="footnotes content" id="footnotes">
        <h2 id="footnote-label">
          {% translate "Footnotes" %}
        </h2>
        <ol>
          {% for footnote in page.footnotes_list %}
            <li id="footnote-{{ forloop.counter }}">
              {{ footnote.text|richtext }}
              <a href="#footnote-source-{{ forloop.counter }}" aria-label="Back to content">↩</a>
            </li>
          {% endfor %}
        </ol>
    </div>
  </div>
</section>
{% endif %}
