{% load i18n wagtailcore_tags wagtailimages_tags %}
<div class="box mb-4">
  <div class="media">
    {% image blog.header_image fill-64x64 as header_image %}
    <figure class="media-left">
      {% translate "View image in full size" as view_full %}
      <button class="figure-button open-modal image is-64x64"
              id="open-modal-image-{{ header_image.id }}"
              title="{{ view_full }}">
        <img src="{{ header_image.url }}"
             width="{{ header_image.width }}"
             height="{{ header_image.height }}"
             alt="">
      </button>
    </figure>
    <div class="media-content">
      <div class="content">
        <p class="subtitle">
          {% translate "Header image" %}:
        </p>
        {{ blog.header_image_caption|richtext }}
      </div>
    </div>
  </div>
</div>
<dialog class="modal"
        id="modal-image-{{ header_image.id }}"
        aria-modal="true"
        aria-labelledby="caption-{{ header_image.id }}">
  <div class="modal-background">
  </div>
  <div class="modal-content ash-modal-fullwidth">
    {% image blog.header_image original alt=blog.header_image_caption|striptags %}
  </div>
  <button class="modal-close ash-modal-close is-large" aria-label="close">
  </button>
</dialog>
