{% load i18n wagtailcore_tags %}
<div>
  <div class="container has-text-centered my-6">
    <div id="wrapper">
      <!-- Make sure data-text equals the text inside the tags. -->
      <h1 class="glitch" data-text="404">
        404
      </h1>
      <h2 class="subtitle">
        {% translate "Page not found" %}
      </h2>

      <p>
        {% translate "Sorry, we tried to find this page but we couldn't." %}
      </p>
      <p>
        {% translate "Here are some other options:" %}
      </p>
      <ul>
        <li>
          <a href="#" id="go-back" class="glitch-icon">
            <i class="ri-history-line"></i>
            <span>{% translate "Go back" %}</span>
          </a>
        </li>
        <li>
          <a href="{% pageurl site_navigation.root_page %}" class="glitch-icon">
            <i class="ri-home-2-line"></i>
            <span>{% translate "Return home" %}</span>
          </a>
        </li>
        <li>
          <a href="{{ site_navigation.blog.index.search_url }}"
             class="glitch-icon">
            <i class="ri-search-line"></i>
            <span>{% translate "Search" %}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
