{% if self.get_ancestors|length > 1 %}
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      {% for p in self.get_ancestors %}
        {% if p.is_root == False %}
          <li>
            <a href="{{ p.url }}">{{ p.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="is-active">
        <a href="#" aria-current="page">{{ self.title }}</a>
      </li>
    </ul>
  </nav>
{% endif %}
