{% load i18n %}
<div class="column">
  <p>
    <span class="icon-text">
      <span class="icon has-text-primary">
        <i class="ri-home-2-fill"></i>
      </span>
      <span class="subtitle">
        <a href="{{ site_navigation.home_index.url }}">{% translate "Homepage" %}</a>
      </span>
    </span>
  </p>
  <p>
    <span class="icon-text">
      <span class="icon has-text-primary">
        <i class="ri-article-fill"></i>
      </span>
      <span class="subtitle">
        <a href="{{ site_navigation.blog.index.url }}">{% translate "Blog" %}</a>
      </span>
    </span>
  </p>
  <p>
    <span class="icon-text">
      <span class="icon has-text-primary">
        <i class="ri-gallery-fill"></i>
      </span>
      <span class="subtitle">
        <a href="{{ site_navigation.gallery.index.url }}">{% translate "Gallery" %}</a>
      </span>
    </span>
  </p>
  <p>
    <span class="icon-text">
      <span class="icon has-text-primary">
        <i class="ri-hammer-fill"></i>
      </span>
      <span class="subtitle">
        <a href="{{ site_navigation.tools.index.url }}">{% translate "Tools" %}</a>
      </span>
    </span>
  </p>
  <p>
    <span class="icon-text">
      <span class="icon has-text-primary">
        <i class="ri-user-3-fill"></i>
      </span>
      <span class="subtitle">
        <a href="{{ site_navigation.about_me.url }}">{{ site_navigation.about_me.title }}</a>
      </span>
    </span>
  </p>
  <p>
    <span class="icon-text">
      <span class="icon has-text-primary">
        <i class="ri-pages-fill"></i>
      </span>
      <span class="subtitle">
        <a href="{{ site_navigation.about_this_website.url }}">{{ site_navigation.about_this_website.title }}</a>
      </span>
    </span>
  </p>
  <p>
    <span class="icon-text">
      <span class="icon has-text-primary">
        <i class="ri-treasure-map-fill"></i>
      </span>
      <span class="subtitle">
        <a href="{{ site_navigation.sitemap.url }}">{{ site_navigation.sitemap.title }}</a>
      </span>
    </span>
  </p>
</div>
