{% load i18n %}
<a class="navbar-link" href="#">
  <span class="icon-text">
    <span class="icon">
      <i id="theme-selector-icon"
         class="{% if request.COOKIES.theme == "dark" %}ri-moon-fill{% else %}ri-sun-fill{% endif %}"
         aria-hidden="true"></i>
    </span>
    <span class="is-sr-only">{% translate "Choose color scheme" %}</span>
  </span>
</a>

<div id="theme-selector" class="navbar-dropdown is-right">
  <a class="navbar-item{% if request.COOKIES.theme == "light" %} is-active{% endif %}"
     href="#"
     data-theme="light">
    <span class="icon">
      <i class="ri-sun-line" aria-hidden="true"></i>
    </span>
    <span>{% translate "Light" %}</span>
  </a>
  <a class="navbar-item{% if request.COOKIES.theme == "dark" %} is-active{% endif %}"
     href="#"
     data-theme="dark">
    <span class="icon">
      <i class="ri-moon-line" aria-hidden="true"></i>
    </span>
    <span>{% translate "Dark" %}</span>
  </a>
  <a class="navbar-item{% if not request.COOKIES.theme == "light" and not request.COOKIES.theme == "dark" %} is-active{% endif %}"
     href="#"
     data-theme="system">
    <span class="icon">
      <i class="ri-computer-line" aria-hidden="true"></i>
    </span>
    <span>{% translate "System" %}</span>
  </a>
</div>
