{% load i18n wagtailcore_tags %}
<a class="navbar-link" href="#" aria-controls="dropdown-menu-language">
  <span class="icon-text">
    <span class="icon">
      <i class="ri-translate" aria-hidden="true"></i>
    </span>
    <span class="is-sr-only">{% translate "Choose language" %}</span>
  </span>
</a>
<div class="navbar-dropdown" id="dropdown-menu-language" role="menu">
  <a class="navbar-item is-selected" href="#">
    {% get_language_info for LANGUAGE_CODE as lang %}{{ lang.name_local |title }}
  </a>
  {% for translation in site_navigation.root_page.get_translations.live %}
    <a href="{% pageurl translation %}"
       rel="alternate"
       hreflang="{{ translation.locale.language_code }}"
       class="navbar-item">{{ translation.locale.language_name_local|title }}</a>
  {% endfor %}
</div>
