{% load i18n wagtailimages_tags wagtailcore_tags %}
<figure class="ash-comparison-wrapper">
  <div class="ash-comparison-slider">
    <div>{% image self.image_left fill-800x600 alt=self.alt_text_left %}</div>
    {% image self.image_right fill-800x600 alt=self.alt_text_right %}
  </div>
  <figcaption id="caption-{{ self.image_left.id }}">{{ self.caption|richtext }}</figcaption>

</figure>
