{% load i18n wagtailimages_tags wagtailcore_tags %}
{% image self.image original as original_image %}

{% if original_image.width <= 800 %}
  <figure class="ash-image-wrapper">
    <div class="ash-image">
      {% image self.image width-800 alt=self.alt %}
      {% if self.alt %}
        <span class="tag is-dark ash-image-alt"
              title="{{ self.alt }}"
              aria-hidden="true">ALT</span>
      {% endif %}
    </div>
    <figcaption id="caption-{{ self.image.id }}">
      {{ self.caption|richtext }}
    </figcaption>
  </figure>
{% else %}
  <figure class="ash-image-wrapper">
    {% translate "View image in full size" as view_full_size_label %}
    <button class="figure-button open-modal"
            id="open-modal-image-{{ self.image.id }}"
            title="{{ view_full_size_label }}">
      {% image self.image width-800 alt="" %}
      {% if self.alt %}
        <span class="tag is-dark ash-image-alt"
              title="{{ self.alt }}"
              aria-hidden="true">ALT</span>
      {% endif %}
    </button>
    <figcaption id="caption-{{ self.image.id }}">
      {{ self.caption|richtext }}
    </figcaption>
  </figure>
  <div class="modal"
       id="modal-image-{{ self.image.id }}"
       role="dialog"
       aria-modal="true"
       aria-labelledby="caption-{{ self.image.id }}">
    <div class="modal-background">
    </div>
    <div class="modal-content ash-modal-fullwidth">
      {% image self.image original alt=self.alt %}
    </div>
    <button class="modal-close ash-modal-close is-large" aria-label="close">
    </button>
  </div>
{% endif %}
