{% load wagtailimages_tags static %}
{% if page.header_image %}
  {% image page.header_image width-1200 as header_image %}
  <div class="hero is-medium is-dark has-background ash-hero-background-image"
       style="background-image: url({{ header_image.url }});
              {{ header_image.background_position_style }}">
    <div class="hero-body"></div>
  </div>
  <section id="ash-hero-card" class="columns is-centered">
    <div class="card column  is-two-thirds-tablet is-half-desktop is-one-third-fullhd">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img src="{% static 'img/avatar.svg' %}" width="96" height="96" alt="">
            </figure>
          </div>
          <div class="media-content">
            <h1 class="title is-3">{{ page.title }}</h1>
            {% if page.description %}<p class="is-6">{{ page.description }}</p>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% else %}
  <div class="container">
    <div class="content">
      <h1 class="title has-text-centered mt-4">{{ page.title }}</h1>
      {% if page.description %}<p class="subtitle has-text-centered">{{ page.description }}</p>{% endif %}
    </div>
  </div>
{% endif %}
