{% load i18n %}
{% if search_results.has_previous or search_results.has_next %}
  <div class="mt-6">
    {% translate "More search results" as pagination_label %}
    <nav class="level" aria-label="{{ pagination_label }}">
      <div class="level-item is-narrow">
        <div class="buttons">
          {# previous page #}
          <a class="button is-primary"
             {% if search_results.has_previous %} href="{{ search_url }}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" hx-get="{{ search_url }}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" hx-target="#search-results" hx-swap="outerHTML show:top" hx-push-url="true" hx-indicator=".htmx-indicator" {% else %} disabled {% endif %}>
            <span class="icon">
              <i class="ri-arrow-left-line ri-lg" aria-hidden="true"></i>
            </span>
            <span>{% translate "Previous" %}</span>
          </a>
        </div>
      </div>
      <div class="level-item is-narrow">
        <ul>
          <li>
            <span class="ash-pagination-page-number">Page {{ search_results.number }}/{{ paginator.num_pages }}</span>
          </li>
        </ul>
      </div>
      <div class="level-item is-narrow">
        <div class="buttons">
          {# next page #}
          <a class="button is-primary"
             {% if search_results.has_next %} href="{{ search_url }}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" hx-get="{{ search_url }}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" hx-target="#search-results" hx-swap="outerHTML show:top" hx-push-url="true" hx-indicator=".htmx-indicator" {% else %} disabled {% endif %}>
            <span class="icon">
              <i class="ri-arrow-right-line ri-lg" aria-hidden="true"></i>
            </span>
            <span>{% translate "Next" %}</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
{% endif %}
