{% load i18n wagtailroutablepage_tags %}
<div class="mt-4">
  <div class="container">
    {% translate "More yearly archives" as pagination_label %}
    <nav class="level" aria-label="{{ pagination_label }}">
      <div class="level-left">
        {% if previous_year %}
          <a class="button is-primary"
             href="{% routablepageurl page 'archive_year' year=previous_year %}">{% translate "Previous year:" %} {{ previous_year }}
          </a>
        {% endif %}
      </div>
      <div class="level-right">
        {% if next_year %}
          <a class="button is-primary"
             href="{% routablepageurl page 'archive_year' year=next_year %}">{% translate "Next year:" %} {{ next_year }}</a>
        {% endif %}
      </div>
    </nav>
  </div>
</div>
