{% load i18n %}
<div class="container mt-6">
  {% if paginator.num_pages > 1 %}
    {% translate "More results" as pagination_label %}
    <nav class="level" aria-label="{{ pagination_label }}">
      <div class="level-item is-narrow">
        <div class="buttons">
          {# first page #}
          <a class="button is-primary"
             {% if page_obj.number == 1 %} disabled aria-disabled="true" {% else %} href="?{% for key,value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}
             {% endfor %}
             "
             {% endif %}>
            <span class="icon">
              <i class="ri-contract-left-line ri-lg" aria-hidden="true"></i>
            </span>
            <span>{% translate "First page" context "Pagination" %}</span>
          </a>

          {# previous page #}
          <a class="button is-primary"
             {% if page_obj.has_previous %} href="?{% if page_obj.previous_page_number > 1 %}page={{ page_obj.previous_page_number }}{% endif %}
             {% for key,value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}
             {% endfor %}
             "
             {% else %}
             disabled
             aria-disabled="true"
             {% endif %}>
            <span class="icon">
              <i class="ri-arrow-left-line ri-lg" aria-hidden="true"></i>
            </span>
            <span>{% translate "Previous page" context "Pagination" %}</span>
          </a>

        </div>

      </div>
      <div class="level-item is-narrow">
        <p class="ash-pagination-page-number">
          Page {{ page_obj.number }}/{{ paginator.num_pages }}
        </p>

      </div>
      <div class="level-item is-narrow">
        <div class="buttons">
          {# next page #}
          <a class="button is-primary"
             {% if page_obj.has_next %} href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}
             {% endfor %}
             "
             {% else %}
             disabled
             aria-disabled="true"
             {% endif %}>
            <span>{% translate "Next page" context "Pagination" %}</span>
            <span class="icon">
              <i class="ri-arrow-right-line ri-lg" aria-hidden="true"></i>
            </span>
          </a>
          {# last page #}
          <a class="button is-primary"
             {% if page_obj.number == paginator.num_pages %} disabled aria-disabled="true" {% else %} href="?page={{ paginator.num_pages }}{% for key,value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}
             {% endfor %}
             "
             {% endif %}>
            <span>{% translate "Last page" context "Pagination" %}</span>
            <span class="icon">
              <i class="ri-contract-right-line ri-lg" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </div>
    </nav>
  {% endif %}
</div>
