<div class="mt-4">
  <div class="container">
    <nav class="level" aria-label="{{ label|default:"Pagination" }}">
      <div class="level-left">
        {% if self.previous_page %}
          <p class="level-item">
            <a class="button"
               href="{{ self.previous_page.url }}"
               title="{{ self.previous_page.title }}">
              <span class="icon">
                <i class="ri-arrow-left-line ri-lg" aria-hidden="true"></i>
              </span>
              <span>{{ self.previous_page.title|truncatewords:5 }}</span>
            </a>
          </p>
        {% endif %}
      </div>
      <div class="level-right">
        {% if self.next_page %}
          <p class="level-item">
            <a class="button"
               href="{{ self.next_page.url }}"
               title="{{ self.next_page.title }}">
              <span>{{ self.next_page.title|truncatewords:5 }}</span>
              <span class="icon">
                <i class="ri-arrow-right-line ri-lg" aria-hidden="true"></i>
              </span>
            </a>
          </p>
        {% endif %}
      </div>
    </nav>
  </div>
</div>
