{% load i18n static %}
<form action="{{ search_page }}" method="get">
  <div class="field has-addons">
    <div class="control">
      <label>
        <span class="is-sr-only">{% translate "Search" %}</span>
        <input type="text"
               class="input"
               name="query"
               {% if search_query %}value="{{ search_query }}"{% endif %}
               {% if htmx_on %} hx-get="{{ search_page }}" hx-trigger="keyup changed delay:300ms, search, updateTitle from:body" hx-target="#search-results" hx-swap="outerHTML" hx-push-url="true" hx-indicator=".htmx-indicator" {% endif %}>
      </label>
    </div>
    <div class="control">
      <button type="submit" class="button is-primary">
        {% translate "Search" %}
      </button>
      {% if htmx_on %}
        <span class="button is-white htmx-indicator">
          <span class="icon">
            <img src="{% static 'lib/htmx/bars.svg' %}" alt="" height=16 width=16 />
          </span>
          <span>{% translate "Searching…" %}</span>
        </span>
      {% endif %}
    </div>
  </div>
</form>
