{% load wagtailcore_tags wagtailimages_tags %}

<section>
  <h2>{{ value.title }}</h2>
  <div class="columns">
    {% image value.image width-400 as the_image %}
    {% if value.image_position == "left" %}
      <div class="column">
        <img src="{{ the_image.url }}"
             title="{{ the_image.title }}"
             {% if value.image_alt %} alt="{{ value.image_alt }}"{% else %} alt=""{% endif %}
             width="{{ the_image.width }}"
             height="{{ the_image.height }}" />
      </div>
      <div class="column is-three-quarters">{{ value.text|richtext }}</div>
    {% else %}
      <div class="column is-three-quarters">{{ value.text|richtext }}</div>
      <div class="column">
        <img src="{{ the_image.url }}"
             title="{{ the_image.title }}"
             {% if value.image_alt %} alt="{{ value.image_alt }}"{% else %} alt=""{% endif %}
             width="{{ the_image.width }}"
             height="{{ the_image.height }}" />
      </div>
    {% endif %}
  </div>
</section>
