{% load i18n static wagtailcore_tags wagtailroutablepage_tags %}
<div class="hero is-black is-bold">
  <div class="hero-head">
    <nav class="navbar is-black">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% pageurl site_navigation.root_page %}">
            <img src="{% static 'favicon/favicon.svg' %}"
                 class="mr-4"
                 width="28"
                 height="28"
                 alt="">
            <span class="title">{{ request.get_host }}</span>
          </a>
          <span class="navbar-burger has-text-white" data-target="navbar-menu-hero">
            {# djlint:off H020 #}
            <span></span>
            <span></span>
            <span></span>
            {# djlint:on #}
          </span>
        </div>
        <div id="navbar-menu-hero" class="navbar-menu">
          <ul class="navbar-end">
            <li class="navbar-item has-dropdown is-hoverable">
              {% include "blocks/header_theme_selector.html" %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
