@font-face {
    font-family: 'backout';
    src: url('BackOut.woff2') format('woff2'),
        url('BackOut.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
