{% load i18n wagtailimages_tags wagtailroutablepage_tags %}
<div id="carousel-image" class="card mt-4 mb-6" role="presentation">
  <div class="card-content">
    <figure class="image">
      {% image image.image max-1280x1024 alt="" %}
      <div class="caption">
        {{ image.caption |safe }}
      </div>
    </figure>
  </div>
  {% if images_count > 1 %}
    <footer class="card-footer">
      <p class="card-footer-item">
        <a href="#"
           hx-get="{% routablepageurl page 'carousel_image' image.next_image.id %}"
           hx-target="#carousel-image">
          <span class="icon-text">
            <span class="icon"><i class="ri-arrow-left-line ri-lg" aria-hidden="true"></i></span>
            <span>{% translate "Previous image" %}</span>
          </span>
        </a>
      </p>
      <p class="card-footer-item">
        Image {{ image.sort_order|add:'1' }} / {{ images_count }}
      </p>
      <p class="card-footer-item">
        <a href="#"
           hx-get="{% routablepageurl page 'carousel_image' image.next_image.id %}"
           hx-target="#carousel-image">
          <span class="icon-text">
            <span>{% translate "Next image" %}</span>
            <span class="icon"><i class="ri-arrow-right-line ri-lg" aria-hidden="true"></i></span>
          </span>
        </a>
      </p>
    </footer>
  {% endif %}
</div>
