{% load i18n wagtailimages_tags %}
<div class="card clickable-card">
  <div class="card-image" role="presentation">
    <figure class="image is-2by1">
      {% image card.main_image fill-800x400 alt="" loading="lazy" %}
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <h3 class="subtitle">{{ card.title }}</h3>
      <a class="is-overlay" href="{{ card.url }}" title="{{ card.title }}"></a>

      {{ card.date_range }}
    </div>
  </div>
</div>
