{% load i18n wagtailroutablepage_tags %}
{% if entries %}
  <section id="entries-list" class="container mt-6">
    <div class="content">
      <h2>
        {% translate "Selected projects" %}
      </h2>
    </div>
    <div id="project-tags" class="field is-grouped is-grouped-multiline mb-6">

      {% if tags %}
        <div class="tags">
          {% for tag in tags|dictsort:"slug" %}
            {% if tag.slug == selected_tag %}
              <a class="tag is-medium is-link"
                 hx-get="{% routablepageurl page 'projects_list' %}"
                 hx-push-url="true"
                 hx-target="#entries-list">{{ tag.name }}</a>

            {% else %}
              <a class="tag is-medium"
                 hx-get="{% routablepageurl page 'projects_list' tag.slug %}"
                 hx-push-url="true"
                 hx-target="#entries-list">{{ tag.name }}</a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div id="selected-projects" class="columns is-centered is-multiline">
      {% for entry in entries %}
        <div class="column is-half">
          {% include "portfolio/blocks/entries_card.html" with card=entry %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
