{% load i18n %}
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column content">
        <div class="content">
          <h2>{{ portfolio_footer.legal_notice.title }}</h2>
          <p>
            <a href="{{ portfolio_footer.legal_notice.url }}">{% translate "See page" %}</a>
          </p>
        </div>
      </div>

      <div class="column content">
        <div class="content">
          <h2>{% translate "Contact" %}</h2>
          <p>
            {% blocktranslate with contact_email=portfolio_footer.contact_email %}
              Do you want to get in touch, or talk about a project?
              Feel free to <a href="mailto:{{ contact_email }}">contact me</a>.
            {% endblocktranslate %}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
