{% load i18n wagtailcore_tags %}
<div class="hero is-black is-bold">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% pageurl site_navigation.root_page %}">
            <span class="title" id="main-title">&lt;BOISSEL.DEV&gt;</span>
          </a>
          <span class="navbar-burger has-text-white" data-target="navbar-menu-hero">
            {# djlint:off H020 #}
            <span></span>
            <span></span>
            <span></span>
            {# djlint:on #}
          </span>
        </div>
        <div id="navbar-menu-hero" class="navbar-menu">
          <div class="navbar-end">
            <li class="navbar-item has-dropdown is-hoverable">
              {% include "blocks/header_lang_selector.html" %}
            </li>
            <li class="navbar-item has-dropdown is-hoverable">
              {% include "blocks/header_theme_selector.html" %}
            </li>
            <div class="navbar-item">
              {% include "blocks/search_form.html" with search_page=site_navigation.root_page.specific.search_url %}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
