{% load i18n static wagtailcore_tags %}
<div id="search-results" class="mt-4">
  {% if search_results %}
    <h2>
      {{ paginator.count }} {% translate "results" %}
    </h2>
    <ul>
      {% for result in search_results %}
        <li>
          <h3 class="mt-4">
            <a href="{% pageurl result %}">{{ result }}</a>
          </h3>
          {% if result.date %}
            <p class="block has-text-grey is-size-7">
              {{ result.date }}
            </p>
          {% endif %}
          {% if result.search_description %}
            {{ result.search_description|safe }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    {% include "blocks/pagination_search_results.html" with search_page=site_navigation.root_page.search_url %}
  {% elif search_query %}
    {% translate "No results found" %}
  {% endif %}
</div>
