{% load wagtailcore_tags wagtailimages_tags %}
<div class="card is-shadowless">
  <div class="card-content">
    <div class="media has-text-centered">
      <div class="media-left">
        <figure class="image is-48x48">
          {% image value.image max-96x96 alt=value.image.title loading="lazy" %}
        </figure>
      </div>
      <div class="media-content">
        <h3 class="title is-4">{{ value.title }}</h3>
        <p class="is-size-6">{{ value.text }}</p>
      </div>
    </div>
  </div>
</div>
