{% load i18n comments comments_xtd %}

<div id="comments" class="media-list">
  {% for item in comments %}
    <article class="media">
      {% if item.comment.allow_thread %}
        <figure class="media-left">
          {{ item.comment.user_email|xtd_comment_gravatar }}
        </figure>
      {% endif %}
      <div class="media-content">
        <div class="content">
          <p class="ash-comment-heading">
            <strong>
              {% if item.comment.url and not item.comment.is_removed %}<a href="{{ item.comment.url }}" target="_new">{% endif %}
                {{ item.comment.name }}
                {% if item.comment.url %}</a>{% endif %}
              </strong> <small>{{ item.comment.submit_date }}</small> <small><a class="permalink"
   title="comment permalink"
   href="{% get_comment_permalink item.comment %}">¶</a></small>
            </p>
            {% if item.comment.is_removed %}
              <p class="text-muted">{% translate "This comment has been removed." %}</p>
            {% else %}
              <p>{% include "includes/django_comments_xtd/comment_content.html" with content=item.comment.comment %}</p>
            {% endif %}
            {% if item.comment.allow_thread and item.comments_opened %}
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" href="{{ item.comment.get_reply_url }}">
                    <span class="icon-text">
                      <span class="icon is-small">
                        <i class="ri-reply-fill ri-lg" aria-hidden="true"></i>
                      </span>
                      <span>{% translate "Reply" %}</span>
                    </span>
                  </a>
                  <span>
                    {% if not item.comment.is_removed %}
                      {% if perms.comments.can_moderate %}
                        <a class="mutedlink" href="{% url 'comments-delete' item.comment.pk %}">
                          <span class="icon-text">
                            <span class="icon is-small">
                              <i class="ri-delete-bin-fill ri-lg" aria-hidden="true"></i>
                            </span>
                            <span>{% translate "remove comment" %}</span>
                          </span>
                        </a>
                      {% endif %}
                    {% endif %}
                  </span>
                </div>
              </nav>
            {% endif %}
          </div>
          {% if not item.comment.is_removed and item.children %}
            {% render_xtdcomment_tree with comments=item.children %}
          {% endif %}
        </div>
      </article>

    {% endfor %}
  </div>
