<p>Hi {{ comment.user_name }},</p>

<p>
    You or someone in behalf of you have requested to post a comment into this page:
    <br />
    <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object.get_absolute_url }}</a>
</p>

<p>
    The comment:
    <br />
    <i>{{ comment.comment }}</i>
</p>
<hr />

<p>
    If you do not wish to post the comment, please ignore this message or report an incident to {{ contact }}. Otherwise click on the link below to confirm the comment.
</p>

<p>
    <a href="{{ comment.content_object.get_base_url }}{{ confirmation_url }}">{{ comment.content_object.get_base_url }}{{ confirmation_url|slice:":40" }}...</a>
</p>

<p>If clicking does not work, you can also copy and paste the address into your browser's address window.</p>

<p>
    Thanks for your comment!
    <br />
    --
    <br />
    Kind regards,
    <br />
    {{ site }}
</p>
