#header {
    background-color: #000;
}

#user-tools {
    font-weight: 500;
}

#branding h1 {
    font-family: 'Cianan-ur';
    font-weight: bold;
    font-size: largest;
}

#branding h1 a:link,
#branding h1 a:visited {
    color: #fff;
}

.module h2,
.module caption,
.inline-group h2 {
    background-color: #000;
}
