{% load static i18n compress wagtailcore_tags wagtailuserbar bulma_tags matomo sri csp %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html class="no-js"
      data-theme="{{ request.COOKIES.theme|default:'' }}"
      lang="{{ LANGUAGE_CODE }}"
      prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        {% if page.seo_title %}
          {{ page.seo_title }}
        {% else %}
          {{ page.title }}
        {% endif %}
      {% endblock title %}
      {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}
          - {{ current_site.site_name }}
        {% endif %}
      {% endblock title_suffix %}
    </title>
    <meta name="description" content="{{ page.search_description }}">
    <meta name="keywords" content="ash_crow,personal website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if ENVIRONMENT != "production" %}
      <meta name="robots" content="noindex">
    {% endif %}

    {% block favicon %}
      <link rel="apple-touch-icon"
            sizes="180x180"
            href="{% static 'favicon/apple-touch-icon.png' %}">
      <link rel="icon"
            type="image/png"
            sizes="32x32"
            href="{% static 'favicon/favicon-32x32.png' %}"
            crossorigin="anonymous">
      <link rel="icon"
            type="image/png"
            sizes="16x16"
            href="{% static 'favicon/favicon-16x16.png' %}"
            crossorigin="anonymous">
      <link rel="manifest"
            href="{% static 'favicon/site.webmanifest' %}"
            crossorigin="anonymous">
      <link rel="mask-icon"
            href="{% static 'favicon/safari-pinned-tab.svg' %}"
            color="#f2cc00"
            crossorigin="anonymous">
      <link rel="shortcut icon"
            href="{% static 'favicon/favicon.ico' %}"
            crossorigin="anonymous">
      <link rel="icon"
            href="{% static 'favicon/favicon.svg' %}"
            type="image/svg+xml"
            crossorigin="anonymous">
      {% wagtail_site as current_site %}
      <meta name="apple-mobile-web-app-title"
            content="{{ current_site.hostname }}">
      <meta name="application-name" content="{{ current_site.hostname }}">
      <meta name="msapplication-TileColor" content="#f2cc00">
      <meta name="msapplication-config"
            content="{% static 'favicon/browserconfig.xml' %}">
      <meta name="theme-color" content="#000000">
    {% endblock favicon %}

    {% if not is_css_naked_day %}
      {% compress css %}
        {# Global stylesheets #}
        {% block main_css %}
          {% sri_static "css/style.css" %}
        {% endblock main_css %}

        {% sri_static "lib/pygments/monokai.css" %}

        {% block extra_css %}
        {% endblock extra_css %}
      {% endcompress %}
    {% endif %}

    {% block social_media %}
    {% endblock social_media %}

    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body class="{% block body_class %}{% endblock body_class %}">
    {% block skiplinks %}
      <div id="skiplinks">
        <nav role="navigation" aria-label="{% translate "Quick access" %}">
          <ul class="fr-skiplinks__list">
            <li>
              <a class="button is-primary" href="#main">{% translate "Skip to main content" %}</a>
            </li>
          </ul>
        </nav>
      </div>
    {% endblock skiplinks %}

    {% wagtailuserbar %}

    {% if is_css_naked_day %}
      <hr />
      <h1>
        {% translate "Is this site broken? No!" %}
      </h1>
      <p>
        {% blocktranslate trimmed %}
          You are seeing this website in its CSS-free glorious nakedness because it is currently
          <a href="https://css-naked-day.github.io/"
             target="_blank"
             rel="noopener noreferrer">CSS Naked Day</a>.
        {% endblocktranslate %}
      </p>

      <p>
        {% blocktranslate trimmed with path=request.path %}
          You can restore the
          <a href="{{ path }}?forcecss=on">normal full CSS version</a>.
        {% endblocktranslate %}
      </p>

      <hr />
    {% endif %}

    {% block header %}
      {% include "blocks/header.html" %}
    {% endblock header %}

    <main id="main">
      {% block content %}
      {% endblock content %}
    </main>

    {% block extra_footer %}
    {% endblock extra_footer %}

    {% block footer %}
      <footer class="footer has-background-black has-text-white-ter">
        <div class="content has-text-centered">
          <p class="ash-webring">
            <a rel="noopener noreferrer"
               class="has-text-link-light has-text-weight-semibold"
               href="https://webring.wiki/previous?host=ash.bzh">
              <span class="icon-text">
                <span class="icon"><i class="ri-arrow-left-line ri-lg" aria-hidden="true"></i></span>
                <span class="is-sr-only">{% translate "Previous site" %}</span>
              </span>
            </a>
            <a rel="noopener noreferrer"
               target="_blank"
               class="has-text-link-light has-text-weight-semibold"
               href="https://webring.wiki/">webring.wiki</a>
            <a rel="noopener noreferrer"
               class="has-text-link-light has-text-weight-semibold"
               href="https://webring.wiki/next?host=ash.bzh">
              <span class="icon-text">
                <span class="icon"><i class="ri-arrow-right-line ri-lg" aria-hidden="true"></i></span>
                <span class="is-sr-only">{% translate "Next site" %}</span>
              </span>
            </a>
          </p>
          <p>
            Made with <a href="https://wagtail.io/"
    target="_blank"
    rel="noopener noreferrer"
    class="has-text-link-light has-text-weight-semibold">Wagtail</a>,
            <a href="https://bulma.io/"
               target="_blank"
               rel="noopener noreferrer"
               class="has-text-link-light has-text-weight-semibold">Bulma</a> and <i class="ri-heart-fill ri-lg has-text-primary" alt="love"></i>.
          </p>
        </div>
      </footer>
    {% endblock footer %}

    {# Global javascript #}
    {% compress js %}
      {% sri_static "js/common.js" %}

      {% if debug is not True %}
        {# djlint: off #}
        {% script type="application/javascript" async=False %}
          {% matomo %}
        {% endscript %}
        {# djlint: on #}
      {% endif %}
      {% block extra_js %}
      {% endblock extra_js %}
    {% endcompress %}
  </body>
</html>
