<link rel="apple-touch-icon" sizes="180x180" href="/static/portfolio/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/portfolio/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/portfolio/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/portfolio/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/portfolio/favicon/safari-pinned-tab.svg" color="#005e82">
<link rel="shortcut icon" href="/static/portfolio/favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="boissel.dev">
<meta name="application-name" content="boissel.dev">
<meta name="msapplication-TileColor" content="#005e82">
<meta name="msapplication-config" content="/static/portfolio/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
